[2014-03-12 03:13] RickCarlino opened #2 "Users should be able to register."

[2014-03-12 03:13] RickCarlino opened #3 "Users should be able log in."

[2014-03-12 03:13] RickCarlino opened #4 "Users should be able to log in"

[2014-03-12 03:13] RickCarlino opened #5 "Users should be able to log out"

[2014-03-12 03:13] RickCarlino opened #6 "Users should be able to modify profile info (geographic location, microclimate, soil type, growing preferences)"

[2014-03-12 03:13] RickCarlino opened #7 "Users should be able to offload their data as JSON"

[2014-03-12 03:13] RickCarlino opened #8 "Users should be able to delete their account"

[2014-03-12 03:13] RickCarlino opened #9 "Users should be able to login via facebook"

[2014-03-12 03:13] RickCarlino opened #10 "Users should be able to reset a forgotten password."

[2014-03-12 03:14] RickCarlino opened #11 "Users should be able to login via G+"

[2014-03-12 03:14] RickCarlino opened #12 "Users should be able to login via Twitter"

[2014-03-12 03:14] RickCarlino opened #13 "Users should be able to link a device to account via Skynet ID"

[2014-03-12 03:15] RickCarlino opened #14 "Users should be able to drag and drop a plant from the plant search widget into the farm designer widget"

[2014-03-12 03:15] RickCarlino opened #15 "Users should be able to untrack a plant from the garden"

[2014-03-12 03:15] RickCarlino opened #16 "Users should be able to view data maps for moisture, pH, temp, etc"

[2014-03-12 03:15] RickCarlino opened #17 "Users should be able to view the scheduled operations for each plant"

[2014-03-12 03:15] RickCarlino opened #18 "Users should be able to view the scheduled actions for the garden"

[2014-03-12 03:15] RickCarlino opened #19 "Users should be able to modify a schedule of operations"

[2014-03-12 03:15] RickCarlino opened #20 "Users should be able to access the weather forecast and history"

[2014-03-12 03:15] RickCarlino opened #21 "Users should be able to access the user and hardware profiles"

[2014-03-12 03:15] RickCarlino opened #22 "Users should be able to display acquired data such as pH, temp, moisture content, on the farm designer map as a layer"

[2014-03-12 03:16] RickCarlino opened #23 "Users should be able to access the user's manual changes to plants and operations"

[2014-03-12 03:16] RickCarlino opened #24 "We need a CI account"

[2014-03-12 03:21] #3 closed, assigned to nobody

[2014-04-10 13:35] RickCarlino opened #32 "Need a Landing Page"
Everything is done with user management. Now we need a landing page that allows users to:
- Log in
- Register
- Retrieve lost passwords
- Get an overview of the project

Let me know if you need any help, @ghislaineguerin otherwise I will get out of your way.

[2014-05-13 14:47] #32 closed, assigned to ghislaineguerin

[2014-05-13 14:47] #4 closed, assigned to nobody

[2014-05-13 14:47] #5 closed, assigned to nobody

[2014-05-13 14:47] #2 closed, assigned to nobody

[2014-05-13 14:47] #8 closed, assigned to nobody

[2014-06-11 13:14] #21 closed, assigned to nobody

[2014-06-11 13:14] #13 closed, assigned to nobody

[2014-06-11 13:36] RickCarlino opened #55 "Support API token auth in future release."
I'm putting this one here for now. If anyone wants to help, this would be a great place to get started.

[2014-06-12 13:49] RickCarlino opened #57 "Users should be able to manually move device from control page"

[2014-06-19 19:07] roryaronson opened #60 "Users should be able to search the OpenFarm.cc database from the Farm Designer Tab in a "Plant Search Widget""

[2014-06-19 19:09] roryaronson opened #61 "There needs to be a "map" widget that is the ineteractive graphical farm designer"

[2014-06-19 19:11] roryaronson opened #62 "Users should be able to reposition a plant in the farm designer"

[2014-06-19 19:12] roryaronson opened #63 "There should be a boundary box displayed around the selected plant in the farm designer"

[2014-06-19 19:14] roryaronson opened #64 "User should be able to resize the boundary box of #63"

[2014-06-19 19:15] roryaronson opened #65 "When boundary box of #63 and #64 becomes large enough, a second plant should be added into it, and so on"

[2014-06-19 19:17] roryaronson opened #66 "User should be able to save their farm design (plant locations, types, settings, and scheduled time of planting)"

[2014-06-19 19:18] roryaronson opened #67 "When user saves their farm design (#66), web app should "lock" the new plants and prevent them from being repositioned"

[2014-06-19 19:22] roryaronson opened #68 "User should be able to manually change the size of their FarmBot in their device settings page"

[2014-06-19 19:23] roryaronson opened #69 "The farm designer should be shaped and sized according to the user's farm size that is set in #68"

[2014-06-19 19:25] roryaronson opened #70 "User should be able to zoom and pan the farm designer like a map"

[2014-06-19 19:25] roryaronson opened #71 "There should be a distance scale on the farm designer"

[2014-06-19 19:37] roryaronson opened #72 "User should see when a Raspberry Pi or Arduino software update is available from the device settings page based on the master branch of the repos"

[2014-06-19 19:38] roryaronson opened #73 "User should be able to click a button to update the Rpi or Arduino firmware from the device settings page"

[2014-06-19 20:20] roryaronson opened #74 "User should be able to "Star" a plant from the Plant Search Widget"

[2014-06-19 20:20] roryaronson opened #75 "User should be able to click a search result from the Plant Search Widget and see the plant details"

[2014-06-19 20:23] roryaronson opened #76 "User should be able to edit plant settings from the Plant Search WIdget and then save the new settings as a new entry"

[2014-06-19 20:25] roryaronson opened #77 "When user saves new plant settings in #76, they should have the option of contributing those settings back to OpenFarm"

[2014-06-19 20:29] roryaronson opened #78 "When user saves farm design with new plants, DSS should execute and generate new schedule of operations"

[2014-06-19 20:30] roryaronson opened #79 "Once per day, DSS should execute for every farm and update the schedules of operations"

[2014-06-19 20:35] roryaronson opened #80 "Need "Schedule Widget" which shows all scheduled operations"

[2014-06-19 20:35] roryaronson opened #81 "User should be able to search/filter operations in the Schedule widget of #80"

[2014-06-19 20:36] roryaronson opened #82 "User should be able to delete operations from the schedule widget"

[2014-06-19 20:36] roryaronson opened #83 "User should be able to modify operations from the schedule widget"

[2014-06-19 20:38] roryaronson opened #84 "When user selects an operation from the schedule widget, highlighting box should appear on all plants in the farm designer that the selected operation applies to"

[2014-07-04 22:46] RickCarlino opened #90 "No Javascript Code Coverage Tool"
I am leaving this one as a note for myself.

We are using the Jasmine-Rails gem, which has been nice, but I would like to know our code coverage. There are some gems out there, but I don't have time to investigate right now. Will look into it later.

[2014-12-17 22:16] roryaronson opened #111 "Allow keyboard keys to fire manual control arrow buttons"
@sweddle (Shane) has done some cool open-source work with controlling robots via webrtc. He has already developed the javascript required for this function and he can help us apply it to the FarmBot web app! Welcome to the project Shane!

[2015-02-15 04:26] roryaronson opened #142 "Foundation dropdowns and menus not working"
When I click the dropdown button or the main nav menu button on mobile, nothing happens. Are we missing a javascript or other foundation file?

[2015-02-15 04:27] #9 closed

[2015-02-15 04:27] #11 closed

[2015-02-15 04:27] #12 closed

[2015-02-15 04:28] roryaronson commented on #12
I don't think we want/need this

[2015-02-15 09:29] RickCarlino commented on #142
Yeah- we will need to add some kind of UI component. I can take care of that since it will require a lot of angular tie ins. The mockup you had is good enough for me to see what's going on.

[2015-02-25 02:12] RickCarlino opened #155 "Button always says "Add Farmbot", even when updating."

[2015-02-25 10:36] #155 closed

[2015-03-02 06:24] elbow-jason opened #160 "Schedule#calculate_next_occurence indicates next_occurrence"
[code]

Fix this, Rick. You told me it would work but it turned red.

[2015-03-13 11:06] #24 closed

[2015-03-13 11:20] RickCarlino commented on #10
This is still valid after almost a year. Yikes! We will need to get a mandrill (or similar) account and we should be good to go.

[2015-03-13 11:21] #57 closed

[2015-03-13 11:23] #80 closed

[2015-03-13 11:24] #83 closed

[2015-03-13 11:24] #82 closed

[2015-03-15 18:56] #10 closed

[2015-03-15 18:56] #19 closed

[2015-04-06 16:05] RickCarlino opened #174 "Warn user of unsaved step changes ("beforeunload" event handler)"
This is will probably be a "gotcha" to some users who leave the page before pressing the save button, but not a big enough gotcha to work on right now. Will get to this one when time allows.

[2015-04-15 15:27] RickCarlino opened #175 "Add "Live feed snippet code" field to bot"
Right now, the live feed is hard coded to stream the bot feed in @roryaronson 's front yard, but this will need to change before launch,

It seems like different users are going to host their live feeds in different ways. Since we don't support it natively, it might be better to give the user a field to paste in their own live feed code snippet (however they chose to implement it is up to them- we

[2015-04-15 16:44] roryaronson commented on #175
+1, I think this will be useful for the birds eye view camera, or whatever other views the user wants.

As a second issue, I'd like to get an onbaord camera that can more closely see the action. This camera would be hooked up to the main pi and hopefully be supported out of the box

[2015-04-16 12:38] RickCarlino opened #176 "No longer need time_stamp?"
I think the current architecture does no longer requires a `time_stamp` field (current code is not using it). Leaving myself a note here for when time allows.

[2015-04-16 19:20] RickCarlino opened #177 "FEATURE: Device timeout alerts"
This is a "nice to have" that I can worry about later.

Unacknowledged messages don't get handled on the front end. At some point, we can add a user warning when the bot goes unresponsive.

[2015-04-23 21:41] RickCarlino opened #179 "Replace "Device Status" Panel with 2-way data binding to bot's current position"
Make the "Move" panel report the bot's current position (2 way data binding) by changing the values of the input box.

[2015-05-07 11:55] RickCarlino opened #181 "Report status on Sync button"
1. User clicks "Sync" button
2. Button's text changes from "Sync" to "Syncing"
3. Buttons text temporarily changes to "Synced"
4. Button returns to normal

[2015-05-07 12:28] #142 closed

[2015-05-07 12:28] #160 closed

[2015-05-07 12:28] #176 closed

[2015-05-07 16:51] roryaronson commented on #181
I think once the device has synced, the button's text should change to "synced" and stay that way until the user makes further changes to their schedule from within the web app. If they make any changes that need to be synced, button changes to say "sync".

[2015-05-15 19:06] roryaronson commented on #181
![sync button 1](https://cloud.githubusercontent.com/assets/5524043/7659958/d2e78048-fafa-11e4-87ed-153e9f68f610.png)

[2015-05-15 19:11] roryaronson commented on #16
Duplicate of #22

[2015-05-15 19:11] #16 closed

[2015-05-15 19:12] roryaronson commented on #61
Widget is there, there's just nothing in it ;p

[2015-05-15 19:12] #61 closed

[2015-05-22 16:41] RickCarlino commented on #179
Done

[2015-05-22 16:41] #179 closed

[2015-06-19 18:22] roryaronson opened #191 "Scheduled Events do not stop at designated End Time"
See how my schedule should end on June 20th, but it made events for all days after too

![capture](https://cloud.githubusercontent.com/assets/5524043/8259907/242eb6a2-1675-11e5-9c68-6537d85165fe.JPG)

[2015-06-19 21:29] elbow-jason opened #192 "Circular Reference from activesupport gem."
[code]
I'm almost positive this should be an issue on activesupport. If so, let me know.

[2015-06-19 21:35] elbow-jason opened #193 "clicking on dashboard buttons causes other html features to "giggle"."
At the route `/dashboard#/movement` in the 'Move' panel, clicking on buttons 'giggles' other html features on the page. This may be a CSS issue.

[2015-06-19 21:40] roryaronson commented on #193
That's probably my fault. I did all of the frontend styling (as my first software project ever). We're planning to do a frontend refactor in the coming months, and may consider switching to bootstrap from foundation.

[2015-06-19 22:35] RickCarlino commented on #192
Eh, that happens on a lot of projects and has been relatively benign in my experience. Never got around to fixing that one, but probably should.

[2015-06-29 20:11] roryaronson commented on #181
This is working great on production! :tada:

[2015-06-29 20:11] #181 closed

[2015-08-05 22:08] roryaronson opened #206 "Replace '?' with '0'"
The logs currently show 0 coordinates as question marks, which is confusing.

![capture](https://cloud.githubusercontent.com/assets/5524043/9099221/d4292546-3b83-11e5-82f7-2fb2975ac817.JPG)

[2015-09-12 08:53] roryaronson commented on #14
Woah. Is this old thing completed?!

[2015-09-12 08:54] roryaronson commented on #111
I'm gonna close this for now. This may be a nice-to-have in the future, but there are more important things for now.

[2015-09-12 08:54] #111 closed

[2015-09-12 13:48] RickCarlino commented on #14
WHOOOOAAAHHHH

[2015-09-12 13:48] #14 closed

[2015-09-18 19:11] RickCarlino opened #213 "Draggables are broke"
Looks like draggables are broke because of a dependency management issue with angular-ui-sortable. I'll get to it later.

[2015-09-18 19:14] roryaronson commented on #213
Maybe we should just wait till a React refactor of the sequence builder?

On Fri, Sep 18, 2015 at 12:11 PM Rick Carlino <notifications@github.com>
wrote:

[2015-09-18 19:18] RickCarlino commented on #213
Yeah, the draggable area was always problematic. I can take care of it later. Other parts of the app appear to be working still.

[2015-09-26 23:05] yuvilio opened #219 "Your Ruby version is 2.2.3, but your Gemfile specified 2.2.0"
When trying to ```bundle install```, I ran into ```Your Ruby version is 2.2.3, but your Gemfile specified 2.2.0.```  Presumably this is noting that the [.ruby-version file has 2.2.3](https://github.com/FarmBot/farmbot-web-app/blob/master/.ruby-version#L1) which is different from the  [Gemset file specifying 2.2.0](https://github.com/FarmBot/farmbot-web-app/blob/master/Gemfile#L2).

I happen to use

[2015-09-28 15:27] RickCarlino opened #223 "Need to upgrade Travis infrastructure version."
Travis has upgraded their systems, and apparently, we're running on the legacy version.

[2015-09-28 17:12] yuvilio commented on #219
This looks to be addressed in 536f228. Thanks!

[2015-09-28 17:12] #219 closed

[2015-10-04 17:49] #206 closed

[2015-10-05 13:01] RickCarlino opened #228 "Unforeseen Workflow: New Planting Area."
# Scenario

 * User has initially set up device
 * User adds a device
 * User navigates to designer page

# Problem

 * The designer needs a `PlantingArea` to work off of
 * Since the device has been newly added, `Device.planting_area` is `nil`

# Possible Solution

 * Make mockups that show this workflow
 * I can add the functionality once idea is agreed upon.

[2015-10-05 21:30] roryaronson commented on #228
What if we just don't render a planting area at all. This would prevent the user from dragging plants into the view.

We can show an alert that says "You must specify your planting area's size before designing your garden. Go to the device page to calibrate your FarmBot and automatically set your planting area, or manually enter a size"

[2015-10-06 06:57] roryaronson opened #229 "Allow multiple devices"
User should be able to add a new device and switch between devices using a drop-down menu on the left of the main nav:
![device v2](https://cloud.githubusercontent.com/assets/5524043/10301990/d57cef22-6bbc-11e5-8983-436b2a8bc842.png)

[2015-10-15 16:27] roryaronson opened #233 "Default Move Absolute coordinates should be last/current coordinate value"
eg: If I MOVE ABSOLUTE to x=100, y=200, z=300
and then I MOVE ABSOLUTE to x=500, y=3000, z=DEFAULT (blank)

Then I expect the device to use a default z-value of 300 (the last/current z-coordinate), so that the second movement doesn't move along the z-axis at all. Right now the default used is 0.

[2015-12-04 22:24] roryaronson opened #236 "Install SSL Cert"
This probably isn't really a code issue as much as it is a dev ops thang. But we should use https://letsencrypt.org/

Things we need to secure:
- [ ] mesh server
- [ ] staging server
- [ ] production server
- [ ] project homepage
- [ ] project forum
- [ ] project wiki

[2016-01-02 05:46] #193 closed

[2016-03-23 18:48] RickCarlino opened #242 "/api/schedules/ return [] instead of 401."
Whoops! Just noticed right now.

[2016-03-23 18:50] RickCarlino commented on #242
Nevermind, false alarm. Nothing to see here. Move along.

[2016-03-23 18:50] #242 closed

[2016-05-13 14:55] PressY4EKG opened #248 "`rake keys:generate` fails."
[code]

and with --trace
[code]

[2016-05-13 15:03] #248 closed

[2016-07-26 10:52] mdingena opened #253 "Use the bot's own Pi to install the backend locally"
You have talked about hosting your own web server to accommodate the user application. Wouldn't it be possible to host it on the bot's Raspberry Pi itself? I'm asking because if I'm to host my own web server running 24/7, I'd want it to consume the least amount of power and I'd probably end up using another Raspberry Pi anyways. So is there any reason I couldn't just do that on the bot's Pi?

[2016-07-26 10:58] RickCarlino commented on #253
You could, and I would encourage you to try it out to see if it works for your setup. Here's a couple of things to keep in mind:

1. It *might* be too resource intensive for the Pi. Back in the Pi 1 era, we tried running MongoDB inside the Pi and found that it couldn't handle it. The Pi may be fast enough now (Pi 3), but we haven't tried.
2. You will need to setup port forwarding on your router an

[2016-07-26 11:23] RickCarlino commented on #253
Closing this one for now. Feel free to re-open if you have any new developments.

[2016-07-26 11:23] #253 closed

[2016-07-28 21:39] clubleveljoe opened #254 "JS_FILE_URL Environment Variable"
This is popping up as an error in my routes. I assume this is how the Node.js front-end is tied in, but I can't find anything in the documentation about its configuration.

[2016-07-29 01:29] RickCarlino commented on #254
Hey Joe-

I'm on the road right now so I won't be able to investigate for a few days. I will take a look here shortly and update docs accordingly. Thanks for the heads up.

[2016-07-29 01:30] #70 closed

[2016-07-29 01:30] #71 closed

[2016-07-29 01:30] #72 closed

[2016-07-29 01:30] #73 closed

[2016-07-29 01:30] #74 closed

[2016-07-29 01:30] #75 closed

[2016-07-29 01:30] #76 closed

[2016-07-29 01:30] #77 closed

[2016-07-29 01:30] #78 closed

[2016-07-29 01:30] #79 closed

[2016-07-29 01:30] #81 closed

[2016-07-29 01:30] #84 closed

[2016-07-29 01:30] #90 closed

[2016-07-29 01:30] #174 closed

[2016-07-29 01:30] #175 closed

[2016-07-29 01:30] #177 closed

[2016-07-29 01:30] #191 closed

[2016-07-29 01:30] #192 closed

[2016-07-29 01:30] #213 closed

[2016-07-29 01:30] #223 closed

[2016-07-29 01:30] #228 closed

[2016-07-29 01:30] #229 closed

[2016-07-29 01:30] #233 closed

[2016-07-29 01:32] #6 closed

[2016-07-29 01:32] #7 closed

[2016-07-29 01:32] #15 closed

[2016-07-29 01:32] #17 closed

[2016-07-29 01:32] #18 closed

[2016-07-29 01:32] #20 closed

[2016-07-29 01:32] #22 closed

[2016-07-29 01:32] #23 closed

[2016-07-29 01:32] #55 closed

[2016-07-29 01:32] #60 closed

[2016-07-29 01:32] #62 closed

[2016-07-29 01:32] #63 closed

[2016-07-29 01:32] #64 closed

[2016-07-29 01:32] #65 closed

[2016-07-29 01:32] #66 closed

[2016-07-29 01:32] #67 closed

[2016-07-29 01:32] #68 closed

[2016-07-29 01:32] #69 closed

[2016-08-01 17:04] RickCarlino commented on #254
Great question. Thanks for bringing it to my attention. It looks like I didn't add this one to the documentation.

`JS_FILE_URL` is a URL pointing to the [Farmbot Frontend](https://github.com/FarmBot/farmbot-web-frontend) `bundle.js` file you want to use. This allows you to run one version of the API with a different version of the frontend.

`JS_FILE_URL` is what gets injected into the `<script>`

[2016-08-01 19:15] #254 closed

[2016-09-20 10:35] airlinepilot opened #272 "Connect mysql error !"
when i created account on my server, i get it. how to config mysql on my server ?
`
Started POST "/api/users" for 115.79.56.92 at 2016-09-20 17:06:36 +0700
Started POST "/api/users" for 115.79.56.92 at 2016-09-20 17:06:36 +0700

Mysql::Error (Access denied for user 'root'@'localhost' (using password: YES)):
  activerecord (4.2.7) lib/active_record/connection_adapters/mysql_adapter.rb:456:in `real_

[2016-09-20 14:06] RickCarlino commented on #272
@airlinepilot Thanks for the report. We recently switched from MongoDB to MySQL

Try running these commands and restarting the server:

[code]
Most likely, the error is caused by having an uninitialized database.
Please let me know if that works and I can update the docs accordingly. Thanks.

[2016-09-23 06:20] jeffslofish commented on #272
I also get a mysql error. I tried running the rake commands  you gave, but that didn't help. Here is my error message:

Mysql::Error (Can't connect to local MySQL server through socket '/tmp/mysql.sock' (2)):
  activerecord (4.2.7) lib/active_record/connection_adapters/mysql_adapter.rb:456:in `real_connect'
  activerecord (4.2.7) lib/active_record/connection_adapters/mysql_adapter.rb:456:in `conne

[2016-09-23 14:39] RickCarlino commented on #272
@jeffslofish Can you give this fix a try? http://stackoverflow.com/a/5499151/1064917

If it works, could you please submit a pull request? Either way, please let me know how it goes.

[2016-09-23 18:42] airlinepilot commented on #272
I change pass of  mysql in file config/database.yml then I tried running the rake commands you gave. I success! thanks

[2016-09-23 18:56] RickCarlino commented on #272
@airlinepilot Great!

[2016-09-23 18:56] #272 closed

[2016-09-24 02:44] jeffslofish commented on #272
I tried the fix from stackoverflow, but now I get this:

Mysql::Error (Can't connect to MySQL server on '127.0.0.1' (61)):

[2016-09-24 02:50] RickCarlino commented on #272
Did you install MySQL on your machine already?

Sent from a mobile device. Please excuse my brevity.

On Sep 23, 2016 9:44 PM, "Jeffrey Fisher" <notifications@github.com> wrote:

[2016-09-24 02:53] jeffslofish commented on #272
I do have MAMP, but it isn't running at the moment. I tried to use it for the MySQL server at one point but that didn't work either. Is a mysql server build in to the setup, or do I have to supply my own?

[2016-09-24 03:15] airlinepilot commented on #272
but i do not connect Farmot Raspicontroler to my server. I get an error like this.
`Setup is complete! You may now run `ruby farmbot.rb` to start the bot.
Want to run `ruby farmbot.rb` now?
y

Connecting...
/usr/local/rvm/gems/ruby-2.3.1/gems/farmbot-resource-0.6.0/lib/resources/abstract_resource.rb:31:in `fetch_no': undefined method `url' for #<Errno::ECONNREFUSED:0xebcef0> (NoMethodError)
	from

[2016-09-24 03:18] RickCarlino commented on #272
@airlinepilot This issue is not related to the API- please raise an issue on the [Raspberry Pi Controller repo by clicking here.](https://github.com/FarmBot/farmbot-raspberry-pi-controller/issues/new) This will help others find the issue when they hit the same problem.

[2016-09-24 03:20] RickCarlino commented on #272
@jeffslofish Rails applications do not install or start MySQL, but they do require it to run.

Please try running this:

[code]

If MySQL is running, it will say `mysqld is alive`. If it is not online, you will need to install / start the MySQL server.

[2016-09-24 03:58] jeffslofish commented on #272
Yes, I didn't have mysql installed or started. It wasn't clear from the docs that I needed to do that. Should I add that step to a pull request?

[2016-09-24 04:00] RickCarlino commented on #272
@jeffslofish I would really appreciate that. Thanks for the help!

If you find a good tutorial from the MySQL or MariaDB site, feel free to link it in.

[2016-09-27 14:47] RickCarlino commented on #236
Let's move this one to Trello.

[2016-09-27 14:47] #236 closed

[2016-10-05 12:05] Phrohdoh opened #278 "Token generation without a 'blessed' account"
Is it possible to generate a valid token without a farmbot.io account?
I realize this project is fully F/OSS (which is amazing, great job!) so both sides can be changed as I see fit (no token validation, no token reading at all, etc) but that would probably make upgrading quite difficult.

[2016-10-05 14:01] RickCarlino commented on #278
@Phrohdoh Do you mean to ask if it is possible to have a single user setup? The current software was built from the ground up to support multiple accounts on one server, so that is probably outside of the architecture of this project.

That being said, it is an OSS project. If you wish to have a personal server for your own use, the deployment instructions are up-to-date and you could easily stand

[2016-10-05 14:11] Phrohdoh commented on #278
The instructions mention cURL-ing `https://my.farmbot.io/api/tokens` to generate an API token.
Is this something that would exist on my own instance if I were to self-host this?
I'd like to host the software (server and web app) myself keeping all of my data on my own hardware, at least for the time being.

I do not think I will need any more than a single user (as long as a user can manage N Farm

[2016-10-05 14:14] RickCarlino commented on #278
@Phrohdoh That is correct. For instance: If you were running the server on your laptop, you would just `curl` to `http://localhost:3000/api/tokens` instead of our server. The server running on your laptop would be identical to the one running on `my.farmbot.io`.

As for the user stuff, you could just create one account and keep the server behind a firewall to prevent outsiders from registering for

[2016-10-05 14:14] #278 closed

[2016-10-05 14:32] Phrohdoh commented on #278
Great, thanks for the information!

Unrelated to this issue but, is there an IRC channel (on freenode?) or gitter or anything similar for instant communication? Or is the forum the primary and only means of community communication?

[2016-10-05 14:51] RickCarlino commented on #278
@Phrohdoh We don't have one at the moment. Unfortunately, the Gitter chat was eating up a lot of our time on duplicate questions that had already been answered on the forum, so we eventually shut it down in favor of the message board. #farmbot on Freenode is a thing, but none of the core uses it.

Github issues and the forum are the best place to get support for now.

[2016-11-15 07:23] linqingfeng opened #292 "Connection problems arise when the creation of users"
Hi,

Connection problems arise when the creation of users, how to solve?

![image](https://cloud.githubusercontent.com/assets/6023566/20296645/08e2900e-ab47-11e6-82f6-d609ce7addac.png)

![image](https://cloud.githubusercontent.com/assets/6023566/20296695/51097a5a-ab47-11e6-86e7-1842d2832121.png)

Thank you very much.

[2016-11-15 14:53] RickCarlino commented on #292
@linqingfeng Thanks for the report. Can you try this when you see the error?

1. Open the Javascript console. `ctrl` + `shift` + `j` on windows.
2. Copy/paste and red messages you see.
3. Go into the `network` panel and see if there are any red network requests.

Thanks!

[2016-11-16 04:01] linqingfeng commented on #292
Hi,

Find the cause of the error, because the port number of the deployment is "3000", "API_PORT" has been set to 3000 ports, but click "CREATE ACOUNT", call the api to "http://172.16.8.100/api/users" Into a "80", and now only through the firewall forced to port 80 port 3000, as follows:

`sudo iptables -t nat -I PREROUTING -p tcp --dport 80 -j REDIRECT --to-ports 3000`

Where can I set up?

[2016-11-16 12:40] RickCarlino commented on #292
@linqingfeng Aha! That sounds like the issue. It looks like this may be a new bug, as it would send it to `:3000` previously. I will fix the issue today.

[2016-11-16 17:26] linqingfeng opened #293 "How to set the environment variables "OS_UPDATE_SERVER" and "FW_UPDATE_SERVER"?"
Hi，

How to set the environment variables "OS_UPDATE_SERVER" and "FW_UPDATE_SERVER"?

We use the local deployment of the environment, but do not know how to build an update server, please tell us how to build?

Thanks very much!

[2016-11-16 18:25] RickCarlino commented on #293
Setting ENV vars in Bash / Linux:

[code]

You probably don't want to build an update server by yourself. If you *really do* want to run your own updates channel, you can just fork FarmBot OS and Farmbot Arduino Firmware on Github and point the `OS_UPDATE_SERVER` and `FW_UPDATE_SERVER` to your fork instead of our fork. Again, I do not recomend this because we will only support the latest versions.

[2016-11-16 18:25] #293 closed

[2016-11-17 00:33] linqingfeng commented on #293
@RickCarlino Thanks,that is OK.

[2016-11-23 21:04] RickCarlino commented on #292
@linqingfeng

[2016-11-23 21:04] #292 closed

[2016-11-24 22:38] Daniil145 opened #294 "Could not download syns data"
![2016-11-25 01 33 05](https://cloud.githubusercontent.com/assets/20598279/20610757/54f27ec2-b2af-11e6-9da9-9c474b91f6ca.png)
![2016-11-25 01 35 15](https://cloud.githubusercontent.com/assets/20598279/20610788/e825ec1a-b2af-11e6-8e0c-c58dc176f0e4.png)

![2016-11-25 01 36 25](https://cloud.githubusercontent.com/assets/20598279/20610780/b4c6f2ec-b2af-11e6-9684-1f52d2a2d135.png)
![2016-11-25 01 36 36

[2016-11-25 02:13] Daniil145 commented on #294
npm test:
[code]

[2016-11-25 03:46] RickCarlino commented on #294
@Daniil145 Thanks for bringing these issues to our attention. In the future, please don't post multiple issues in a single thread. We follow the rule of "one issue per thread" to help others who are searching for answers to the same question.

As for the error you see when syncing, can I see what your Javascript console looks like? (ctrl + shift + J).

**Other things to note:**

**The `npm test` i

[2016-11-25 06:16] Daniil145 commented on #294
big thx,  I forgot change options application.rb
[code]
and open ports for mqtt)

[2016-11-25 06:21] RickCarlino commented on #294
@Daniil145 Great!

[2016-11-25 06:21] #294 closed

[2016-11-25 06:28] Daniil145 opened #295 "Migrate mysql"
My database.yml file:
[code]

I wish to change the settings on mysql, please help this and sorry for my bag language

[2016-11-25 06:30] Daniil145 opened #296 "languages/ru.js"
I would be happy to help with the translation, if I knew how to do it)

[2016-11-25 09:44] Daniil145 opened #297 "typo on readme"
[code]
it's necessary:
Prerequisites

Your machine will need the following:

Ruby 2.3.2

[2016-11-28 15:44] RickCarlino commented on #296
@Daniil145 Thanks for your interest in internationalizing the app. This is particularly true for Russian- We're seeing a lot of users with `ru` as their locale. As a side note, internationalization happens in the [Frontend](https://github.com/FarmBot/farmbot-web-frontend/) rather than in the API.

I just added an example file to [/public/app-resources/languages/ru.js](https://github.com/FarmBot/fa

[2016-11-28 15:45] RickCarlino commented on #296
Also, sorry for the delay in responding. It was a holiday in the US last week.

[2016-11-28 15:47] #297 closed

[2016-11-28 15:48] RickCarlino commented on #297
Thanks for finding that one. If you find minor issues like this in the future, you're always welcome to submit a pull request with the updates.

This is now fixed.

[2016-11-28 15:54] RickCarlino commented on #295
@Daniil145 You have two options:

1. Set the `DATABASE_URL` environment variable (this has higher priority than `database.yml`). [Info here](http://edgeguides.rubyonrails.org/configuring.html#configuring-a-database).
2. [Setup your database.yml to use MySQL instead of SQLite](http://stackoverflow.com/a/5872284/1064917)

[2016-11-28 15:54] #295 closed

[2016-12-05 01:55] Daniil145 commented on #296
I dont understand this: "Search the application for calls to t(). Any file that imports from "i18next" will have strings that require translation." I work this ruby or js first

[2016-12-05 02:39] RickCarlino commented on #296
@Daniil145 This would be entirely javascript based. You would need to clone [this repo here](https://github.com/FarmBot/farmbot-web-frontend) instead of the API.

[2016-12-05 04:29] Daniil145 opened #302 "Dokku error"
Enter passphrase for key '/root/.ssh/root':
Enter passphrase for key '/root/.ssh/root':
Counting objects: 11394, done.
Delta compression using up to 2 threads.
Compressing objects: 100% (4215/4215), done.
Writing objects: 100% (11394/11394), 7.52 MiB | 13.89 MiB/s, done.
Total 11394 (delta 6822), reused 11394 (delta 6822)
-----> Cleaning up...
-----> Building farmbot-web-app from herokuish...
----

[2016-12-05 14:31] RickCarlino commented on #302
You will need to [enable DOKKU_TRACE](https://github.com/dokku/dokku/blob/master/docs/getting-started/troubleshooting.md) to see an error message.

[2016-12-05 14:54] Daniil145 commented on #302
dokku trace on

![2016-12-05 17 52 07](https://cloud.githubusercontent.com/assets/20598279/20889375/d2a8ac80-bb13-11e6-8d8c-cb8ed9b13dbb.png)

[2016-12-05 14:58] RickCarlino commented on #302
@Daniil145 I will need to see the full log. It looks like there were more error messages above that screen shot.

Also, be sure your VM has enough memory. 512mb is usually not enough to run a server and is unfortunately the default value for many VPS services.

[2016-12-05 15:27] Daniil145 commented on #302
[code]

[2016-12-05 19:47] RickCarlino commented on #302
@Daniil145 Can you try re-deploying? There were some issues on our end that were recently fixed.

[2016-12-05 22:20] Daniil145 commented on #302
my "var/lib/docker is out of space. And I did not notice it. Excuse for troubling.(((

[2016-12-05 22:27] Daniil145 commented on #302
Now new there was an error on the earlier...  iadd log any time

[2016-12-05 22:53] Daniil145 commented on #302
I add "Copy config/database.example.yml to config/database.yml. In GNU/Linux or Mac: mv config/database.example.yml config/database.yml"
And error again^
[code]

[2016-12-05 23:08] Daniil145 commented on #302
old version complete deploy. new(now git) dont

[2016-12-06 00:51] Daniil145 commented on #302
My actions:
1)git clone https://github.com/FarmBot/Farmbot-Web-API farmbot-web-app
2) cd farmbot-web-app
3)dokku apps:create my_app_name
4)git remote add my_server dokku@my_server_name:my_app_name
5)dokku storage:mount my_app_name /var/lib/dokku/data/keys:/keys
6)dokku mariadb:create my_db_name
7)dokku mariadb:link my_db_name my_app_name
8)dokku config:set agrobot DEVISE_SECRET=3b7cd727ee24e844405

[2016-12-06 13:49] RickCarlino commented on #296
Closing this issue for now. If you have any more questions, please move the discussion to the [Frontend Repo](https://github.com/FarmBot/farmbot-web-frontend).

[2016-12-06 14:06] RickCarlino commented on #302
@Daniil145 I see the issue:

A few weeks ago, we (FarmBot) stopped using Dokku and started using Heroku instead.

Heroku prefers that we use Postgres instead of MySQL, so we switched over.

I never updated the Dokku deployment instructions to use Postgres instead of MySQL/MariaDB.

As a temporary fix, I have added `gem 'mysql2'` to the Gemfile. Please be aware **I will eventually remove MySQL supp

[2016-12-06 14:07] RickCarlino commented on #302
Please let me know if it works for you now.

[2016-12-06 21:06] Daniil145 commented on #302
I would use but heroku me off the need to add a credit card to work. Is it expensive?
may be i use pg for dokku.
i test it tommorow sorry i dont sleep any time

[2016-12-07 13:47] RickCarlino commented on #302
@Daniil145 It's cheap for Hobby use ($0-7 USD / month) and eliminates a lot of the need to maintain servers. I will still need to update the README for Dokku users, but it might be worth trying out. It's a very simple solution.

[2016-12-07 18:30] Daniil145 commented on #302
i git new version. and I get the same error again(
sorry I understand heroku that this is easy, but do not want to depend on the cloud. for example in cases where I need a local server(no internet)

[2016-12-07 18:31] Daniil145 commented on #302
=====> Downloading Buildpack: https://github.com/heroku/heroku-buildpack-ruby.git
=====> Detected Framework: Ruby
-----> Compiling Ruby/Rails
-----> Using Ruby version: ruby-2.3.2
-----> Installing dependencies using bundler 1.9.7
       Running: bundle install --without development:test --path vendor/bundle --binstubs vendor/bundle/bin -j4 --deployment
       Fetching gem metadata from https://ru

[2016-12-07 18:34] RickCarlino commented on #302
@Daniil145 If you're just running a a small server for your own personal use, you don't need Dokku or Heroku- just run the rails server on a different machine and run `./install_frontend`. Example:

[code]

That will expose a web server on all ports for the local machine. If you are running the server on a LAN, this is all you need to do. The Dokku / Heroku stuff is nice, but you don't necessarily

[2016-12-07 19:11] Daniil145 commented on #302
easy starts working well, but would like to run the system in an insulated container - it is at least interesting. I'll look forward to when you update the documentation. thx

[2016-12-22 22:25] MarceloAlves opened #304 "JWT as ID Parameter"
Hi there. I was browsing around checking the `TODO`'s and came across the issue of using [JWT tokens in the URL](https://github.com/FarmBot/Farmbot-Web-API/blob/master/config/routes.rb#L29). I believe you can override the ID param by passing it a regex so that a JWT is validated. Something like:

[code]

Rails tries to match anything after the first `.` as a format so this should override that and

[2016-12-22 22:30] RickCarlino commented on #304
@MarceloAlves Thanks for finding the cause of that issue! I completely forgot about the format thing. That TODO is actually outdated now though. We put the JWT in the query string and I think we won't gain much by switching back now but I will update that TODO accordingly. Please let me know if you need any help getting set up.

[2016-12-22 22:30] #304 closed

[2016-12-22 22:31] MarceloAlves commented on #304
Ah okay cool, good to hear!

[2016-12-27 19:45] #302 closed

[2016-12-27 19:45] #296 closed

[2016-12-27 19:55] RickCarlino commented on #304
@MarceloAlves side note: I've updated stale TODO items and added documentation to most classes and modules in `/lib` and `/models`.

[2016-12-29 01:54] MarceloAlves commented on #304
Awesome! I'll check it out 👍

[2017-01-25 17:00] pablomat opened #306 "Small correction"
Point 10 in "Developer Setup"/"Setup" should point to the Farmbot-Web-API issue list not the web-frontend.

At the moment it points to : https://github.com/FarmBot/farmbot-web-frontend/issues/new?title=Installation%20Failure

[2017-01-25 17:00] RickCarlino commented on #306
@pablomat Can you submit a pull request for this fix?

[2017-01-25 17:02] RickCarlino commented on #306
This was probably a bad copy / paste job from one of the other README files. Good catch.

[2017-01-25 17:11] RickCarlino commented on #306
Actually- I need to make some changes in there for a few other things. I will push an update here shortly.

[2017-01-25 17:12] pablomat commented on #306
Ok, no rush, it was just a small remark ;). Thanks for your support.

[2017-01-25 17:12] #306 closed

[2017-01-26 16:16] pablomat opened #307 "Possible connectivity issue"
Hi,

I've deployed the Web-Api plus the mqtt-gateway as described in the docs, the mqtt is able to retrieve the certificate so i believe there's no communication issue between the two but from the web frontend i cannot create an account, i receive the message "Possible connectivity issues..."

I'm using the latest ubuntu server 16.04.1 x86_64 with rvm and ruby-2.3.3 / npm 4.0.5 / node 7.4.0

emili

[2017-01-26 17:03] RickCarlino commented on #307
When you click the "login" button, what errors do you see in the browser's Javascript console? (CTRL+SHIFT+J)

[2017-01-26 22:26] pablomat commented on #307
Hi Rick,

I've managed to create a user using the API with curl and verifying the token manually too, with that user i'm able to login to the frontend without problems (specifying server url/port to 127.0.0.1:3000).

The problem arises when i try to create an account via the frontend, from the Javascript console i get the following message (might be a problem with xhr.js not using port 3000 ?)

xh

[2017-01-26 23:10] #307 closed

[2017-01-26 23:11] RickCarlino commented on #307
@pablomat This was an edge case that I have (hopefully) just fixed. We do most of our local dev work on `localhost` rather than `127.0.0.1`. Please let me know if it works now.

[2017-01-27 10:11] pablomat commented on #307
Thanks, it works now ;)

[2017-02-06 00:39] vindekator opened #308 "Installation Failure"
Hi.  I'm not that familiar with working from the command line as I've always installed GUIs when possible.  I'm working from Debian 8.6 and am not sure what I should be doing with line 8 of the install: "MQTT_HOST=your_mqtt_server_domain rails s".  Is this an environment variable to be set up?  A rails command?

I installed ruby with rbenv.

[2017-02-06 14:38] RickCarlino commented on #308
@vindekator Although Ubuntu is a Debian based distro (and are similar in many ways), I would highly recommend that you use Ubuntu Server 16.10 as we do not officially support other distros. You might not hit any issues with Debian, but that being said, we don't test against any of the issues that arise on other distributions.

As far as ENV variables go, they are a standard part of any Unix based

[2017-02-06 14:38] #308 closed

[2017-02-06 17:14] vindekator commented on #308
Thanks for the heads up.  So it seems the answer is yes, it's an env variable.  I've knocked out most of the bumps on the Debian install but I will give Ubuntu a shot.

[2017-02-09 09:01] vroyer opened #309 "Need an opensource distributed database and search engine ?"
Hi,

I'm the author of [Elassandra](https://github.com/strapdata/elassandra) , an opensource project that merge the Apache Cassandra database and a famous search engine "Elasticsearch". It's well suited to build a worldwide database with cross-datacenters replication coupled with search, geo-search features, and realtime reporting. It would be adapted to build a social network or a species invento

[2017-02-09 13:02] RickCarlino commented on #309
Hi @vroyer,

We just switched to Postgres from Mongo less than 6 months ago and it's been working well for us. We don't have any full text search use cases at the moment, either. I'll take a look and let you know if our situation ever changes. Thanks for the heads up.

[2017-02-09 13:02] #309 closed

[2017-02-09 21:06] dumielle opened #310 "How to modify the APP for it to handle different interchangeable Garden bed ?"
Hi,

My name is Jean and I'm new here so please forgive me if I'm posting on the wrong place or asking a dumb or already resolved question >

We are testing here (in Portugal) a mechanical solution for having Farmbot machine firmely anchored into the ground, with in the middle a sliding mechanism so to be able to swop gardening beds without having to move the machine.

Would anyone know how to mod

[2017-02-09 22:56] RickCarlino commented on #310
Hi @dumielle ,

That sounds like an amazing project. I love the idea, but unfortunately this is not a use case we test against.

One possible solution would be to keep 3 separate SD Cards and 3 corresponding FarmBot Web App accounts. You can keep the same email address for each of the acounts by using `+` symbols in your account. Example:

[code]

You would need to then:

 0. Power the device off

[2017-02-10 02:27] Daniil145 opened #311 "SMTP Problem"
Please help configure SMTP
I use smtp server smtp.yandex.ru
this server only ssl port use 465
may be use ssl://smtp.yandex.ru or not
Please help me this

[2017-02-10 03:02] Daniil145 opened #312 "Deployment use Heroku"
Its now i use localhost its work good.

but I would like to start using heroku
I use this first.

after migrate base on heroku
i use heroku ps:scale web=1 and applet dont running, crash.

I think that there are some nuances to deploy to heroku.

May be you help me, I would like to receive detailed information for heroku deploy. And go toe to toe with you. I try to run the app for 3 days and I can

[2017-02-10 03:02] Daniil145 commented on #311
Or off activation with email

[2017-02-10 14:01] RickCarlino commented on #311
@Daniil145 Disabling email verification won't be a quick fix for us, unfortunately.

You can run this snippet to verify all users in one command:

[code]

I've also added a new ENV var- `ENV["SMTP_PORT"]`. The ENV var will allow you to set the port of your SMTP server. Please let me know if that works.

Please let me know if that works for you.

[2017-02-10 14:08] RickCarlino commented on #312
You can view logs with

[code]

This will give you a better idea of what is wrong.

Did you set all the ENV variables and migrate your database? `heroku run rake db:setup` might help.

[2017-02-11 10:09] Daniil145 commented on #311
where to run this code?
User.update_all(verified_at: Time.now, verification_token: nil, agreed_to_terms_at: Time.now)

[2017-02-11 10:23] Daniil145 commented on #311
Prompt service mail which certainly works with IPA. With my I did not get.

[2017-02-13 12:21] RickCarlino commented on #311
@Daniil145 You would run this from the Rails console. `heroku run rails console`.

[2017-02-13 12:23] RickCarlino commented on #311
Please take a look at the logs using `heroku logs --tail`. Try to register for an account or do something that requires email. Look for errors related to delivery.

Also, you can set the ENV vars locally and try it on your machine first to make sure the email server is not the problem.

[2017-02-19 16:32] bautze opened #313 "Lost control over Farmbot after update"
After installing the update yesterday morning, I lost control over Farmbot. Afterwards, I did a clean reinstall of rpi3-3.0.6 which was OK, however the Webapp downgraded to 3.0.5 and Firmware is Version 1. It installs a new Firmware each time I click the Firmware-Update button. y and z axis have worked before, now I only hear and feel the motor "clicking" when sending relative movement requests. I

[2017-02-20 22:40] ConnorRigby commented on #313
Do you see anything interesting in the log box at the top of the app?

this is a known bug, but isnt what is causing your problem.

i suspect this is a Firmware issue, or possible a power issue. The "clicking" seems to me that the little tiny "pots" need a bit of a turn (this allows more amperage to the motors) the most recent version of the firmware now uses 2 X motors by default, so you may be s

[2017-02-21 00:15] vindekator opened #314 "Installation Failure 2"
Having setup Ubuntu Server 16.10, Postgresql, and RBENV, and Ruby 2.3.3 I started the Farmbot-Web-API install.  Everything went fine until step 7. rake db:create:all db:migrate db:seed
I have previously completed the entire installation only to have the app unreachable.  This time i did the mini-app "MyApp" at the end of the RBENV/Ruby install.  The app (at localhost:3000) came up fine.  Just an "

[2017-02-21 10:35] vindekator commented on #314
OK.  Update on the situation.  I've resolved the issues and gotten the API installed, and it it starts and says "Listening on localhost:3000" but I get this error from my browser: "Firefox can’t establish a connection to the server at 192.168.1.13:3000.".  I have tried both ssh and plain connections.  Any pointers?

----------------------
$ rails s
WARNING: Use strings for Figaro configuration. 58

[2017-02-21 14:45] RickCarlino commented on #314
@vindekator You will need to run the server like this to expose to all IPs:

[code]

I will update the docs in a moment.

[2017-02-21 14:49] #314 closed

[2017-02-21 14:52] RickCarlino commented on #314
@vindekator It looks like the docs in `deployment.md` already made note of the `-b 0.0.0.0` flag, so there might not be anything to update.

Please let me know if `-b 0.0.0.0` fixes the problem. I can re-open if not.

[2017-02-21 16:54] vindekator commented on #314
On 2/21/2017 8:52 AM, Rick Carlino wrote:

Yes, Rick, that seems to have done the trick.  I missed that note
somehow.  Now all I have to do is figure out how to get rid of that
"MyApp" I put in to test first.  Hopefully it'll be as easy as deleting
the folder.  Thanks.

[2017-02-21 18:57] RickCarlino commented on #314
@vindekator Do the instructions say to run `rails new .....` anywhere? Please let me know if they do, as that is probably a mistake. You would want to run `git clone....` to start this repo.

[2017-02-21 21:16] bautze commented on #313
Yes, there is something odd: Clicking the 'save' button for hardware config, it shows "Device is offline", then it is stuck at "Farmbot updating distance_mm_x: 1500".
It is no power issue, since
a) x-axis is not currently not connected
b) y and z axis have worked before and I had well adjusted current level with the calibrate y/z options when the system was still running.
The calibrate buttons sto

[2017-02-21 21:22] ConnorRigby commented on #313
Have you tried rebooting your bot? if the bot looses connection to the arduino its gets pretty confused.

if you have an FTDI cable to your raspberry pi you can see the system log, but any errors would be displayed in the logger atop the page

[2017-02-21 21:33] bautze commented on #313
Yes, I have tried several times, along with several clean reinstalls and even redid my webaccount. Verified that RAMPS 1.4 is working by checking a few pin connections. I should work :-D
Nope, I don't have an FTDI cable. Is there a difference to using ssh ?
I found "Farmbot gon an invalid configuration in Configuration tracker: "timezone" in /state/log.txt
timezone I configured via configurator is

[2017-02-21 21:40] ConnorRigby commented on #313
hmm the timezone thing sounds like a real bug but i doubt that is what is causing your problem. can you paste your `log.txt` here? if you have ssh access you should be able to do a simple `cat /state/log.txt`

[2017-02-21 21:44] bautze commented on #313
2017-02-21T21:10:11Z: Farmbot is updating encoder_missed_steps_max_y: 10
2017-02-21T21:10:11Z: Farmbot is updating encoder_missed_steps_decay_x: 10
2017-02-21T21:10:11Z: Farmbot is updating movement_home_up_x: 1
2017-02-21T21:10:11Z: Farmbot is updating movement_min_spd_x: 50
2017-02-21T21:10:11Z: Farmbot is updating encoder_missed_steps_max_z: 10
2017-02-21T21:10:11Z: Farmbot is updating pin_guar

[2017-02-21 21:46] bautze commented on #313
2017-02-21T21:10:11Z: Farmbot got an unrecognized param: nil
2017-02-21T21:10:11Z: Farmbot got an unrecognized param: moevment_secondary_motor_x
2017-02-21T21:10:11Z: Farmbot got an invalid configuration in Configuration tracker: "timezone"

[2017-02-21 21:49] ConnorRigby commented on #313
interesting. Nothing there seems to be something that would cause you bot not to move. Can you toggle pins? like pin 13 for example should have an LED on it

[2017-02-21 21:51] bautze commented on #313
yes, I can switch on and off pin 13

[2017-02-21 21:53] ConnorRigby commented on #313
that works? you said you only have one x motor plugged in correct? are the encoders enabled on any axis?

[2017-02-21 21:54] bautze commented on #313
Ok, that's magic, it's back alive. Did not change anything except toggling on and off this one pin ...

[2017-02-21 21:54] ConnorRigby commented on #313
it might have made the bot reestablish a valid connection to the firmware. Interesting a reboot didnt fix though.

[2017-02-21 21:55] ConnorRigby commented on #313
keep us updated if anything brakes again. Im going to take a look into the timezone issue you have right now.

[2017-02-21 21:55] bautze commented on #313
Believe me, I have tried quite a few reboots. Thanks for your help. If there is any testing you need to be done, feel free to contact me.

[2017-02-21 21:56] roryaronson commented on #313
@bautze do you have endstops hooked up? If not, you should add jumper pins to the endstop pins on the RAMPS shield to ensure that the Arduino doesn't accidentally think an endstop is being pressed (which will prevent motor movements). This has been an issue in the past.

[2017-02-21 21:57] bautze commented on #313
Yes, I have jumpers installed. Does this mean, that I can install endstops without any further modification ?

[2017-02-21 22:02] roryaronson commented on #313
In theory, yes. Though we haven't done any testing with endstops in a long time because we opted to exclusively use rotary encoders. You should try it out!

[2017-02-21 22:05] bautze commented on #313
I will give it a try and post the result either here or in the forum ! I actually like having endstops as they can prevent damage and are really cheap to install. I will upgrade to rotary encoders in the near future, however they are rather hard to get here in Europe.

[2017-03-11 16:49] #313 closed

[2017-03-13 18:54] #310 closed

[2017-03-13 18:54] #311 closed

[2017-03-13 18:54] #312 closed

[2017-03-17 13:01] issamsham opened #317 "Question about a TODO"
Hello,
I have installed and configured my own local server successfully but I don't know what should I to fill out in Email tap in Raspberry pi3 configurator page,
Please find the attached images below,
<img width="1280" alt="screen shot 2017-03-17 at 1 57 05 pm" src="https://cloud.githubusercontent.com/assets/18642473/24044096/f82b37ec-0b19-11e7-9a29-a4b32687e670.png">
<img width="1280" alt="scre

[2017-03-17 15:29] RickCarlino commented on #317
A few things:

 * Your API host is `localhost` in the configuration window. You must change this to the IP address or domain name of the server. If you set any of the [env variables](https://github.com/FarmBot/Farmbot-Web-API#config-settings-important) to `localhost`, your bot will not function.
 * You are running an old version of FarmBot OS, judging by the UI of the configuration window. Please

[2017-03-17 15:29] #317 closed

[2017-03-29 02:14] carlosen14 opened #318 "Installation Failure - rake role <username> does not exist"
Downloaded the master branch version, in step **6.- rake db:create:all db:migrate db:seed** I got an error, but before that, i have to do step 5 like this `ALTER USER "user" WITH SUPERUSER;` with comas because it was showing a `syntax error at or near "user"`, but got step 5.

At step 6, it throws an error showing `FATAL: role "farmbot" does not exist  - rake aborted`

That is my username "farmbot

[2017-03-29 03:07] gabrielburnworth commented on #318
A username such as `farmbot` should work fine. What response do you get after `ALTER USER farmbot WITH SUPERUSER;`?

[2017-03-29 10:28] issamsham commented on #317
Hello,
During NPM installation, I have received many errors, please check out the attached image file
<img width="1280" alt="screen shot 2017-03-27 at 1 47 53 pm" src="https://cloud.githubusercontent.com/assets/18642473/24450405/14a1031a-147b-11e7-829b-415ec3bf0180.png">

[2017-03-29 12:46] RickCarlino commented on #317
@issamsham In the future, please start new issues in a new discussion thread. This helps other users with similar problems find answers via search.

To answer your question though, it looks like `webpack-dev-server` did not install correctly. Try running `npm install` in again. If you see any error messages, please show me them in a new discussion thread.

[2017-03-30 19:06] RickCarlino commented on #318
@carlosen14 Did that help? This is a [pretty common issue when setting](http://stackoverflow.com/a/23841599/1064917) when setting a Rails project up for the first time, but it should go away once you have a user by that name setup. Please let us know if the steps above don't help and I can reopen the issue.

[2017-03-30 19:06] #318 closed

[2017-03-30 19:59] carlosen14 commented on #318
Sorry for being late..

When I said my username was "farmbot" I was referring to my ubuntu username. postgresql username is "user"

I ran this command `rake db:create:all db:migrate db:seed --trace`

and got this trace.

This is the postgresql user info

postgres=# ALTER USER farmbot WITH SUPERUSER;
ALTER ROLE
postgres=# \du
                                   List of roles
 Role name |

[2017-03-30 20:42] carlosen14 opened #319 "What info goes in here? I'm lost!"
I am installing this but I don't get what URL has to be there.

In step 8. `MQTT_HOST=your_mqtt_server_domain rails s`.. this does says a lot, but my doubt is, what do I have to place there if I want to run MQTT host locally?, Also (just if it is posible), what in case I want to use the original farmbot MQTT host?..

I am on mid installing this Web-API.. But i am kind of lost, What do I have to in

[2017-03-31 13:23] RickCarlino commented on #319
Hi @carlosen14 :

1. `MQTT_HOST` must point to the IP address or hostname of the machine running the MQTT server. You cannot put `localhost` or `0.0.0.0` here.
2. It is no longer possible to use the official FarmBot MQTT server on self hosted installations. This is for security reasons. There may still be documentation floating around that says the contrary, but such documentation is out of date.

[2017-03-31 13:24] #319 closed

[2017-04-04 23:29] phillip-shvartsman opened #320 "Setting Up Own Web API"
Hello,
I’m creating a version of your farmbot as part of a project for my school. We plan to use the Raspberry PI and Arduino software on the github, and are writing our own Web server in Node.js. The web interface will take commands from anyone with the webaddress, and will act as sort of a community garden. Imitating this:
http://goldberg.berkeley.edu/garden/Ars/

I understand that the web inter

[2017-04-05 01:18] RickCarlino commented on #320
@phillip-shvartsman That sounds like a fun project! We would love to help you.

If you wish to control a FarmBot with Javascript and not use the frontend, then [FarmbotJS](https://github.com/RickCarlino/farmbot-js) is a good starting point. It should run fine in a NodeJS environment, although we have only tested it in a browser, since that is where we use it today.

In regards to your question of

[2017-04-05 02:11] phillip-shvartsman commented on #320
@RickCarlino Thank you for the quick response! and thank you for pointing me to FarmbotJS! I think we will use that for the project. I was reading through the accepted commands and they seem self-explanatory except for a few. I was wondering what is the format of the commandObject in send(commandObject), and what the syncSequence command does.
Thank you again,
Phillip Shvartsman

[2017-04-05 13:04] RickCarlino commented on #320
@phillip-shvartsman Good question. I will add documentation to the library source today. If you use an editor that supports inline documentation (such as VS Code or Atom), the docs should show up as hints.

To answer your questions though:

 * The command objects are formatted as Celery Script nodes (mentioned above). The interfaces defined in `corpus.ts`. For instance, the `take_photo` node's str

[2017-04-05 14:29] RickCarlino commented on #320
@phillip-shvartsman I've [added documentation](https://rawgit.com/FarmBot/farmbot-js/master/doc/classes/_src_farmbot_.farmbot.html) to the project and have updated the README (there were some dperecated / irrelevant comments in there still).

If you have any more questions, please raise an issue on the FarmBotJS repo.

[2017-04-05 14:35] phillip-shvartsman commented on #320
@RickCarlino Thank you Rick, I really appreciate it.

[2017-04-12 15:21] RickCarlino commented on #320
@phillip-shvartsman Is FarmBotJS working out for you? Please let me know if you have any other questions.

[2017-04-12 17:42] phillip-shvartsman commented on #320
@RickCarlino Hey Rick sorry for being silent, We're just working on the front-end while we wait for the hardware to come in. I'll try this weekend and let you know if there is any issues. While we wait, could I install the Farmbot-OS on my pi and connect it to my.farmbot.io ? Then the log in my.farmbot.io will display connections from Farmbot-JS?

[2017-04-13 13:02] RickCarlino commented on #320
@phillip-shvartsman Yes, it is possible to flash an RPi with FarmBot OS and log in to it as if it were a "real" FarmBot. That might be a good way to get familiarized with FarmBotJS and the API, also.

[2017-04-14 12:29] cmlogan opened #321 "Local Install Issue: key not found: "GCS_BUCKET" (KeyError)"
Hey guys -

having a small issue with the following:
7. Verify installation with  RAILS_ENV=test rake db:create db:migrate && rspec spec

returns this error:
/www/Farmbot-Web-API/app/controllers/api/images_controller.rb:3:in `fetch': key not found: "GCS_BUCKET" (KeyError)

Any thoughts?

Thanks in advance

[2017-04-14 13:34] RickCarlino commented on #321
@cmlogan Thanks for catching this.

This was a legitimate bug and not an installation mistake. This bug affects users who do not use Google Cloud Storage. Since we use Google Cloud Storage for image processing on the "mainline" server and all of our development machines, we did not see the issue until now.

I have updated the server to store images to disk if Google Cloud Storage is not configured

[2017-04-14 13:34] #321 closed

[2017-04-17 14:45] Daniil145 opened #322 "White background after login"
I install farmbot-api and install base and interface
login page work correctly - registration complete
after login - white background
![image](https://cloud.githubusercontent.com/assets/20598279/25092281/ab83c032-2395-11e7-9edb-0967beed9703.png)

[2017-04-17 14:59] Daniil145 commented on #322
for all my devices on google chrome

[2017-04-17 17:00] RickCarlino commented on #322
@Daniil145 This issue was fixed a few days ago, but it looks like you are running a frontend version from `April 8`. Please try to `./install_frontend.sh` again.

[2017-04-17 17:00] RickCarlino commented on #322
Closing issue for now. Please let me know if that does not work and I can re-open.

[2017-04-17 17:00] #322 closed

[2017-04-18 19:50] Daniil145 commented on #322
Hi, @RickCarlino I install fresh today. and this error again(

[2017-04-18 20:23] Daniil145 commented on #322
I dont install ImageMagic pls add to Readme)

[2017-04-18 20:27] Daniil145 commented on #322
Worked)

[2017-04-19 00:56] RickCarlino commented on #322
@Daniil145 Great to hear. Will update the README in a bit.

[2017-04-19 01:05] RickCarlino commented on #322
README is updated :+1: Thanks for letting me know.

[2017-05-02 21:05] Klimbim1 opened #324 "Question about a TODO"
Change
ALTER USER user WITH SUPERUSER;
to
ALTER USER "user" WITH SUPERUSER;
for psql 9.5. (?)

[2017-05-02 21:24] RickCarlino commented on #324
Sure. Can you send a pull request?

[2017-05-04 05:59] creimers opened #326 "ENV var for disabling registration confirm emails?"
Is there a way to say "I'm running the API service locally/on premise and I don't want/need to send out confirmation emails after user registration"?

[2017-05-04 12:46] RickCarlino commented on #326
@creimers I've just added `NO_EMAILS` env var. Please let me know if that helps. Thanks!

[2017-05-04 12:46] #326 closed

[2017-05-04 22:01] Klimbim1 opened #327 "Rails won´t start"
Hi all,

my rails does weird stuff and does not start anymore. Don't know what I changed, I only tried to connect my farmbot which did not work. I get:
`rails -s 192.168.0.38
WARNING: Use strings for Figaro configuration. 587 was converted to "587".
rails aborted!
Don't know how to build task '192.168.0.38' (see --tasks)
/home/klimbim/.rvm/gems/ruby-2.3.3@farmbot-web-app/gems/railties-5.0.0.1/lib/

[2017-05-04 22:12] RickCarlino commented on #327
Instead of `rails -s` try `rails s --port=0.0.0.0`.

Please let me know if there is documentation anywhere with the `-s`, as that would be a spelling error that needs to be corrected. Also, doing `--port=0.0.0.0` will bind to all ports, which will make debugging easier.

[2017-05-04 22:12] #327 closed

[2017-05-04 22:30] Klimbim1 commented on #327
@RickCarlino I guess you meant rails s -b 0.0.0.0 being 0.0.0.0 the ip in the local LAN; this works for me!

[2017-05-05 13:19] RickCarlino commented on #327
@Klimbim1 Whoops! Yes, `-b` for "bind to IP".

[2017-05-05 20:59] creimers commented on #326
I checked out the latest version of the master branch (17a6afb862833792df2), and now the registration does not seem to work for me anymore.

Registering via the frontend form gives me a 500:

[code]

Additionally, here's the test output:

[code]

The commit I was on yesterday still works (80242de).

I'm not a rails guy, so I can't be of much help here I'm afraid...

[2017-05-05 21:02] RickCarlino commented on #326
@creimers Could you try running `rails db:migrate` and `rake db:setup` again to play it safe? I will investigate again here in a moment. Please let me know if that does/does not fix the issue.

[2017-05-05 21:24] creimers commented on #326
@RickCarlino `db:migrate` runs with no errors. `db:setup` tells me that the database already exists. And `db:seed` also says:

[code]

I have narrowed things down: The commit introducing `NO_EMAILS` is already broken for me, not only the latest at time of writing.

[2017-05-05 22:32] creimers opened #328 "docker-compose PR?"
Hi @RickCarlino ,

would you consider to merge a PR adding docker-compose support for the rails + postgres (+ mqtt) stack?

I was helping out somebody on the farmbot europe slack channel the other day with getting everything up and running locally, and in my opinion/experience it would be quite a bit easier if it came down to `docker-compose build && docker-compose up`.

I've started working on it

[2017-05-06 02:27] RickCarlino commented on #328
@creimers Sure! I'm sure that would help a lot of people out. Please be sure to write good documentation for it when you do. I will take a look on Monday.

[2017-05-08 18:54] phillip-shvartsman commented on #320
@RickCarlino Hey Rick, I'm trying to use the farmbot-js package in Node.js and going off the readme. I can't use the import keyword after installing the module. I used require

var Farmbot = require('farmbot')

 instead and this was allowed. However, when I try to create a new bot with

bot = new Farmbot({token:secret_token})

I get: Type Error : Farmbot is not a constructor. What is the correct w

[2017-05-08 19:08] phillip-shvartsman commented on #320
Do I need to make the project typescript?

[2017-05-08 19:10] RickCarlino commented on #320
@phillip-shvartsman A couple things:

1. `import` only works if you use the latest version of node or an ES-6 transpiler like Babel or Typescript.
2. The code should actually look like this:
[code]
3. I recently started testing NodeJS setups. Like I mentioned before, although it is possible, we don't actually use NodeJS for this sort of thing in the official repos. While trying to build an example

[2017-05-08 19:13] RickCarlino commented on #320
@phillip-shvartsman I will let you know when I pin down the issue. If you feel like taking a look for yourself, I believe the issue is somewhere with MQTT.js (a dependency of FarmBot JS).

[2017-05-08 19:35] phillip-shvartsman commented on #320
@RickCarlino Yeah I got the MQTT timeout error. I'll take a look but I don't think I will be much help!

[2017-05-08 20:27] RickCarlino commented on #320
@phillip-shvartsman :tada:  It looks like FarmBotJS `v3.9.3` has full support for NodeJS if you shim the `atob` function. Please upgrade to the latest version of FarmBotJS (3.9.3) and let me know how it works out for you. Also, let's move further discussion to the [FarmBotJS repo](https://github.com/FarmBot/farmbot-js).

Also: the `farmbot_chatbot` [example project](https://github.com/FarmBot-Labs

[2017-05-08 20:27] #320 closed

[2017-05-08 20:36] phillip-shvartsman commented on #320
@RickCarlino Thanks rick!

[2017-05-09 16:41] RickCarlino commented on #328
@creimers I just took a look. It looks promising! Please let me know if you have any questions.

[2017-05-09 16:45] creimers commented on #328
@RickCarlino Yes, I do have a question as a matter of fact.

On a server, the the whole thing will have to run behind lets say nginx. Does it have to expose any crazy ports for the mqtt (and the websockets)?

Do you have an example nginx config file by chance?

[2017-05-09 16:46] creimers commented on #326
@RickCarlino Have you also had the chance to look into this again?

[2017-05-09 17:03] RickCarlino commented on #328
@creimers

 * **Running behind NGinx**: [This is our docker config](https://github.com/FarmBot/mqtt-gateway/blob/master/devops_spellbook.sh#L28). We haven't had a need for load balancing (yet), so we've just been running it on a single node, not in front of HAProxy or NGinx. You will need to expose ports `3002`, `80` (mapped to port `3002` on the container), `1883`, and `443`. KEEP IN MIND: Port `

[2017-05-09 18:54] RickCarlino commented on #326
@creimers Can you try this and let me know if it yields different results?

0. Close any Rails servers or database clients that may be running.
1. Update to the latest version of the API. **A lot of things have changed in the last 24 hours**.
2. Run the commands below:
[code]
3. (if everything passes) try loging in as `admin@admin.com`/`password123`.

[2017-05-09 20:00] creimers commented on #326
With an all fresh db and `rm db/schema.rb` I get one failure during test:
[code]

[2017-05-09 20:03] RickCarlino commented on #326
@creimers Can I see line 13 of your `schema.rb` file?

[2017-05-09 20:05] creimers commented on #326
Line 13:
`ActiveRecord::Schema.define(version: 20170502184027) do`

[2017-05-09 20:07] RickCarlino commented on #326
Interesting. Did you get any errors when running step 2 above?

[2017-05-09 20:14] creimers commented on #326
The first time I ran it, I ran into some docker-compose specific kind of problem. I then killed and removed the db container and made myself a new one. Then omitted steps 3 + 4.

When I run `rake db:drop:all` now, however, I get:

[code]

[2017-05-09 20:26] RickCarlino commented on #326
@creimers It might be that the `farmbot_test` database exists, but rails only ran the migrations on `farmbot_development` (eg: an incomplete database where the `users` table does not yet have a `password` column).

Try the steps I've listed above from start to finish. if `db:create:all` or `db:migrate` don't succeed, the tests won't be able to run.

[2017-05-09 21:03] RickCarlino commented on #326
@creimers Also, you can try `rails db:migrate RAILS_ENV=test` if that doesn't work.

[2017-05-10 14:13] RickCarlino commented on #326
@creimers Any luck with the `create` and `migrate` steps?

[2017-05-10 21:39] creimers commented on #326
Not quite. But I'm starting to think that it is related to the fact that I'm trying to do it with docker-compose and that something is not configured right there...

[2017-05-31 18:48] Klimbim1 commented on #328
Hi @RickCarlino and  @creimers, Christoph was helping me out in installing the web-api locally;

Don't know it it is worth it but I would love to have an update in your README on what exacltly needs to run when I do install it locally; does an MQTT server need to be installed too? do I need to install the frontend as well and run it via npm start?

I would be fine as well with the docker method if

[2017-05-31 19:10] Klimbim1 opened #329 "Farm Designer"
If I would like to drag and drop (leek for example) it sometimes does not show up on the right side as a plant in the field; however it shows in the left sidebar that it has been planted... o.O

[2017-05-31 20:15] RickCarlino commented on #328
@Klimbim1

**Regarding MQTT**: You must run an MQTT server locally. I have updated the README file to reference this fact. Very early (pre-launch) versions of FarmBot did not require an MQTT server, but that has since been removed for security reasons. If you see any documentation that still references that, please let me know and I can update it accordingly.
**Regarding the Frontend**: Running `.

[2017-05-31 20:15] #328 closed

[2017-05-31 21:21] Klimbim1 opened #330 "Error when syncing on local install"
Hi Rick & Connor,

just works fine with the local install up to this error code:
![bildschirmfoto 2017-05-31 um 23 19 30](https://cloud.githubusercontent.com/assets/28235189/26654607/be0d146c-4657-11e7-8133-f20147857cfb.png)
when trying to sync the device.
Will install the latest web api release those days. Is there anyway of comfortably updating the web-api and mqtt server when hostet on the "own

[2017-05-31 21:26] Klimbim1 opened #331 "Picture saving to local disk on local server install"
My config/application.yml with regards to the google cloud config looks like:

[code]

If I try to take a picture it says:
![bildschirmfoto 2017-05-31 um 23 25 46](https://cloud.githubusercontent.com/assets/28235189/26654834/845efbe4-4658-11e7-92d0-653a27061760.png)

Where do I need to adapt the config?

[2017-05-31 21:48] #324 closed

[2017-06-01 12:54] RickCarlino commented on #331
@Klimbim1 Please try this:

1. Run `rails jobs:work`. (This was recently added to the setup- I've updated the docs to reflect that)
2. Wait a few seconds.
3. Check the photo widget (`http://localhost:3000/app/farmware`)

Do any images come up on that page?

**If you do see an image:** you can safely ignore that log message and we will change the message in a future release. This is just a verbiage

[2017-06-04 00:05] linyongzheng commented on #329
There is a known bug where if you're completely zoomed out on your "field" on the right side that the icons do not show up. If you zoom in the icons show up.

[2017-06-05 17:16] Klimbim1 commented on #331
Hi @RickCarlino,
it does not work; If I execute rails jobs:work this does something, here is a log file sequence which
comes over and over:

Then this thingi appeared, I tried to go to the URL but it only says sorry :)

If I visit this URL: http://192.168.0.38:3000/verify.html?token=ERROR
it says in the error java console log:

Cheers!

[2017-06-05 17:27] Klimbim1 opened #332 "Install, Readme etc."
Hi all,

if I try with ruby-2.3.3 it says at `bundle install`:
`The git source `git://github.com/gogovan/delayed_job.git` uses the `git` protocol, which transmits data without encryption. Disable this warning with `bundle config git.allow_insecure true`, or switch to the `https` protocol to keep your data secure.
The git source `git://github.com/gogovan/delayed_job_active_record.git` uses the `git

[2017-06-05 17:43] Klimbim1 commented on #329
This is not reproducable; if I zoom in an plant something it shows up; if I zoom out and plant something it only shows up in the database but not on the right side;
If I edit one of those two, it is always the graphical object which I planted in zoomed in mode;
that does not work properly!

And moreover what is the coordinate system logic? This needs to match with farmbot in order to be used!!!!??

[2017-06-05 19:58] RickCarlino commented on #331
@Klimbim1 May I see your `application.yml`? Self hosted setups are very different than the setup used on the main server. I suspect you are hitting an edge case that we do not test against.

**Please remove these keys (if any) before sharing:** `GCS_KEY`, `RSA_KEY`, `ACME_SECRET`, `DATABASE_URL`, `DEVISE_SECRET`, `GCS_KEY`, `ROLLBAR_ACCESS_TOKEN`, `SENDGRID_PASSWORD`.

[2017-06-05 20:04] RickCarlino commented on #332
The first set of warnings can be ignored. I've silenced them in the latest version on master (pushed a few moments ago).

As for the second error, run `gem install bundler` and try again.

[2017-06-05 20:04] #332 closed

[2017-06-05 20:15] Klimbim1 commented on #331
@RickCarlino for sure, here you are:
` ░██████░░███████░░█████░░░██████░░
# ░██░░░░░░░░██░░░░██░░░██░░██░░░██░  READ THIS BEFORE USING IT.
# ░██████░░░░██░░░░██░░░██░░██████░░  SEE NOTES BELOW:
# ░░░░░██░░░░██░░░░██░░░██░░██░░░░░░
# ░██████░░░░██░░░░░████░░░░██░░░░░░
# You will hit issues if any of these are set to the wrong value.
# Please read each line of this file before starting the server.
#

[2017-06-06 20:23] RickCarlino commented on #331
Please try the following:

1. Pull down the latest version: `git pull origin master`
2. Update dependencies: `bundle install`
3. Migrate your database: `rails db:migrate`
4. Install the latest frontend: `./install_frontend.sh`
5. Start the server

and try taking a photo again. Do you see anything on the `farmware` page? Do you see any errors?

I found a few issues that might affect folks who do no

[2017-06-07 20:12] Klimbim1 commented on #331
Hi @RickCarlino,
@MrChristofferson recommended to me to fork all three projects, mqtt, frontend and web-api in order to be up to date and see the changes on a lets say weekly basis when I pull the latest versions.

Therefore I need to adapt the frontend starting thing. Could you elaborate how to correctly start the frontend?

However if I go into Farmbot-Web-API and type rspec spec it says the fol

[2017-06-07 21:44] RickCarlino commented on #331
@Klimbim1 I saw that error yesterday and thought I patched it already :thinking: .

What do you see when you run `git log -1`?

[2017-06-10 20:20] Klimbim1 commented on #331
[code]
`:~/mqtt-gateway$ git log -1
commit 63a655deb8e3b2f0e5327389bff6256554d67098
Merge: 60f5f79 0f4c66b
Author: Rick Carlino <RickCarlino@users.noreply.github.com>
Date:   Tue Apr 25 07:13:14 2017 -0500

    Merge pull request #6 from FarmBot/roryaronson-license-patch

`

[2017-06-10 20:22] Klimbim1 opened #333 "E-Mail verification does not work"
Hi all,

how can I verify a new E-Mail address in the latest version?
Even with the E-Mail: True parameter in application.yml I cannot get into the account....?

[2017-06-10 22:23] RickCarlino commented on #331
@Klimbim1 Your local version is two months behind master. As such, it will not have the fix. Your options would be to:

 * Pull down the latest version from farmbot/master, re-install dependencies and re-flash your device with the "edge" version of FarmBot OS (requires building from source).
 * Wait until version 4.0.0 (and a pre-compiled FarmBot OS image) come out, probably a week or so away.

[2017-06-10 22:29] RickCarlino commented on #333
@Klimbim1 As mentioned in the previous post, you are not running the correct version to support the `NO_EMAILS: TRUE` option. In the meantime, you can manually verify accounts in the [Rails Console](http://guides.rubyonrails.org/command_line.html#rails-console) (typing `rails c` first):

[code]

You can also do this in one line from the command line, via the [Rails Runner](http://guides.rubyonrail

[2017-06-10 22:34] Klimbim1 commented on #331
Hi @RickCarlino;
thanks very much for the support. How can I see which OS version works together with which Web-API version?

Cheers
Klim

[2017-06-10 22:35] #333 closed

[2017-06-10 23:08] RickCarlino commented on #331
@Klimbim1

 * Please see [FarmBot OS build instructions](https://github.com/FarmBot/farmbot_os/blob/master/docs/BUILDING.md) to learn how to compile FarmBot OS from source. Raise issues there if you require further assistance with building.
 * With regards to maintaining version compatibility: Your best bet is to simply use the latest version of each of the packages (Latest FBOS, latest MQTT, late

[2017-06-10 23:08] #331 closed

[2017-06-22 13:23] #330 closed

[2017-06-22 13:23] #329 closed

[2017-06-30 04:45] Arduns opened #334 "Error downloading data"
when i use admin@admin.com Login !it just have menu and show :
           Error downloading data
           Please try refreshing the page.

Started GET "/app/controls" for 192.168.1.174 at 2017-06-30 12:44:22 +0800
Processing by DashboardController#index as HTML
  Parameters: {"path"=>"controls"}
  Rendering html template
  Rendered html template (0.0ms)
Completed 200 OK in 2ms (Views: 1.3ms)

[2017-06-30 13:51] RickCarlino commented on #334
@Arduns We have made some recent changes to way the API is built in the last 24 hours. I will update the README today to reflect the changes and let you know.

Did you already run `rails db:seed`? Was the `admin@admin.com` account working previously?

[2017-06-30 14:18] RickCarlino commented on #334
@Arduns I have updated the documentation for the new server setup. I am unsure if this is related to the issue you are facing. Please let me know if it solves the issue. Closing for now, can re-open as needed.

[2017-06-30 14:18] #334 closed

[2017-06-30 16:41] Arduns commented on #334
@RickCarlino  I have find the Problem！when  i login it cloud not  take token！i have try  use the Postmen and send Authorization in header，  the API is work ！

24bd62a
Mon Jun 26 13:48:55 2017 -0500
Merge-pull-request-220-from-ConnorRigby-replace_github_releases_phase1
VM555:37 WebSocket connection to 'ws://192.168.1.215:3002/' failed: Error in connection establishment: net::ERR_CONNECTION_REFUSED

[2017-07-01 03:50] Arduns commented on #334
@RickCarlino  sorry but i don‘t know how to fix it， because i use the noemail？

[2017-07-04 05:06] Arduns opened #335 "How can I change http://local:8080 to http://local:80"
How can I change http://local:8080 to http://local:80

with use 8080 the pi3 cloud not contect to the server

MQTT Q:
AUTH START
Will fetch certificate...
Did fetch certificate. Will verify token with certificate.
AUTH FAIL sk__2@163.com
jwt malformed
{ Error
    at Object.module.exports [as verify] (/home/ardun/mqtt/node_modules/jsonwebtoken/verify.js:54:17)
    at ok (/home/ardun/mqtt/app/securi

[2017-07-06 14:56] RickCarlino commented on #335
@Arduns A lot has changed in the past few days with how the server is built. You may need to run an update.

Try this:

[code]

You will need `sudo` to run on port 80 on most Linux machines.

Please let me know if that does not work. A lot has changed in the last week, so I appreciate the bug reports.

[2017-07-06 14:56] #335 closed

[2017-07-06 14:58] RickCarlino commented on #334
@Arduns Are you still having this issue? What error do you see now if so?

[2017-07-06 15:25] Arduns commented on #335
@RickCarlino  thanks for help I have git a new version in 6 hour ago.  and I have fix it
![wechatimg14309](https://user-images.githubusercontent.com/10508878/27918633-235c3666-62a2-11e7-9929-ef6d59d4749b.jpeg)

and use this link to fix the last error and  the Farmbot-Web-App work

https://github.com/DefinitelyTyped/DefinitelyTyped/pull/17581/files#diff-96b72df8b13a8a590e4f160cbc51f40c

[2017-07-06 15:27] Arduns commented on #334
@RickCarlino  the new version is fix this thanks

[2017-07-10 20:21] Klimbim1 opened #340 "Max. WLANs in scan drop down"
Hi all,
could it be that you limited the max. number of WLANs shown in the scan drop down menu during config? Mine only appears from time to time but there are more than 20 WLANs around...

[2017-07-16 13:47] creimers opened #341 "local frontend, cloud server backend"
@RickCarlino I'm trying to run the frontend locally and make it access the my.farmbot.io server.

Since the readme says CORS is enabled, this should work, right?

I'm getting `XMLHttpRequest cannot load http://my.farmbot.io/api/tokens/. Response for preflight is invalid (redirect)` in the console, because the request is redirected to `https://my.farmb...`. Putting 443 in the server port field also

[2017-07-16 14:12] creimers commented on #341
Never mind, I hacked my way into it.

https://github.com/FarmBot/Farmbot-Web-App/blob/master/src/api/api.ts#L100

[2017-07-16 14:12] #341 closed

[2017-07-18 06:03] Klimbim1 opened #342 "Error of moving components in a sequence"
If I duplicate a component (move absolute) in a sequence and want to drag & drop it to another location, sometimes it gets duplicated when doing this. Sometimes not...

[2017-07-20 16:52] RickCarlino commented on #340
@ConnorRigby Any idea on this one?

[2017-07-20 16:56] ConnorRigby commented on #340
They are not sorted or filtered at all. It is parsed via the raw output of `iw list` currently - which extends the Linux kernel Wireless Supplicant. If your WiFi is not on the list, the RPI just can not see it. This is likely a quality, or distance problem. If there are many SSIDs around you it is likely that the channel your network is on is crowded.

[2017-07-31 17:53] zion2k opened #367 "/public/app-resources/languages/de.js"
Line 145 and 146

"Weed Detector": "**Un**kraut-Detektor",   <--- more common term (Beikraut->Unkraut)
"Week": "Woc**h**e",   <--- wrong spelling (Wocke->Woche)

[2017-07-31 20:08] toddklaus commented on #253
Hi Rick, was the issue CPU or RAM?  Thanks.

[2017-07-31 20:42] RickCarlino commented on #253
@toddklaus It is no longer possible to run a server and FBOS on the same machine without making significant changes to the software (this discussion is from a year ago when things were much different).

With regards to running the server stack on a second RPi: I just bumped in to a developer who tried to run an entire server stack on an RPi (a second device- not the pi) this month while at a conve

[2017-08-14 18:23] Klimbim1 opened #401 "Toggle switch not set correctly after E-Stop"
FW: 5.0.1, the toggle switch for the water valve is not set to off after the E-Stop

[2017-08-22 23:50] yyzzz6000 opened #419 "NO_EMAILS does not disable email verification"
# Expected Behavior
Set NO_EMAILS in application.yml to be TRUE, expect no email verification required
# Actual Behavior
The local server still asks me for email verification
# Steps to Reproduce
1. set NO_EMAILS to TRUE in application.yml, save the file.
2. npm run dev
3. goto localhost:3000 and create a new user count

[2017-08-22 23:52] RickCarlino commented on #419
Thanks for letting us know. I will take a look tomorrow morning.

[2017-08-23 17:23] RickCarlino commented on #419
@yyzzz6000 I have identified the cause of the failure and should have a fix in a few hours.

[2017-08-23 17:49] #419 closed

[2017-08-24 12:22] RickCarlino commented on #419
@yyzzz6000 Does everything work now?

[2017-08-26 05:18] #340 closed

[2017-08-26 05:21] roryaronson commented on #342
We're aware of an issue where if you drag an existing Step to the bottom "Drag Command Here" area, then it will be duplicated when it should not. We'll let you know when this is fixed.

[2017-09-10 07:18] yyzzz6000 opened #448 "cannot read bot status after set security group for cloud instance"
# Expected Behavior
After successfully connecting web app to the bot, I configured reverse proxy(NGINX) and security group of our cloud instance (ALIYUN). For testing purpose, I allow 3000(WEB), 3002 (MQTT) and 80 for external connection. I can connect MQTT and the website, and the bot can connect MQTT broker. But the website cannot get bot status. Is there any port I am missing?

# Actual Behavio

[2017-09-10 07:34] yyzzz6000 commented on #448
I just saw the deployment.md, I will double check the file and try again.

[2017-09-10 07:35] #448 closed

[2017-09-18 06:05] JordanOPStudent opened #456 "Generating HTML Pages"
When generating the home page it seems like it times out after a period of time. The client ends up timing out eventually and the terminal spews out the follow.
[code]

Checking into stats-webpack-plugin it appears that the plugin requires an older version of webpack while the package.json requires 3.5.5. I'm not entirely sure if I may have messed up somewhere in the installation process or if thi

[2017-09-18 10:26] RickCarlino commented on #456
@JordanOPStudent Interesting. I have not seen this one before.

A few questions:
 * What were the exact commands you entered in to the terminal prior to seeing this message?
 * Is anything using or blocking port 3808 on your machine? Does `http://localhost:3808` show anything in a browser?
 * What version of node are you running?

[2017-09-18 23:43] JordanOPStudent commented on #456
We managed to resolve the issue. Apparently 1GB of RAM to host it was not enough and had to expand it to 4GB.

[2017-09-18 23:43] #456 closed

[2017-09-21 22:55] yyzzz6000 commented on #419
Hello, Rick,
Yes! We have updated the environment right after the fix and I can skip verification now. Sorry for the late response, I missed the notification until now.  Thank you for the quick fix and have a good day.

[2017-09-22 12:38] enderahmetyurt opened #464 "Logs showing problem"
Hi,

I have 35 entries for Log table but I cannot see any logs on the navigation bar.

Are there any problem in here?

Cheers.

![screen shot 2017-09-22 at 15 37 22](https://user-images.githubusercontent.com/447588/30744703-fed689da-9fab-11e7-8d8d-e11fa1643fc3.png)

![screen shot 2017-09-22 at 15 35 51](https://user-images.githubusercontent.com/447588/30744687-eb15a926-9fab-11e7-8c76-fcb18f358b1a.

[2017-09-22 13:35] RickCarlino commented on #464
@enderahmetyurt A few questions:

 1. Are you sure you are logged in as device `2`? Running `store.getState().auth.user.device_id` in the JS console will help.
2. Did you refresh the page? We don't support realtime messages from the API --> browser (we _do_ support realtime messages from FarmBot --> broswer, though)

Also, I noticed that the log you pulled up was of type "debug". We typically [don

[2017-09-22 13:55] enderahmetyurt commented on #464
Yes, I saw it. Thanks for help. Sorry for that silly question. I am newbie on Farmbot 😳

[2017-09-22 13:58] RickCarlino commented on #464
No worries! Glad you found the fix.

[2017-09-22 13:58] #464 closed

[2017-09-23 12:50] Abdullah7528 opened #465 "Installation Failure"
Most of the packages are not installed properly

# Steps to Reproduce

[2017-09-23 18:11] gabrielburnworth commented on #465
Please provide the output from the command `yarn install`.

[2017-09-25 12:22] RickCarlino commented on #465
Closing this issue until details are provided.

[2017-09-25 12:22] #465 closed

[2017-10-05 15:02] Abdullah7528 opened #486 "Installation Failure"
# Expected Behavior

# Actual Behavior

# Steps to Reproduce

[2017-10-05 15:03] Abdullah7528 commented on #486
![error](https://user-images.githubusercontent.com/31927817/31234385-a67e014e-a9a3-11e7-91c3-ecc15df4034b.PNG)

[2017-10-05 17:14] RickCarlino commented on #486
@Abdullah7528 Please show me output for the following commands:

`rails s`
`npm run webpack`

[2017-10-06 14:44] RickCarlino commented on #342
@Klimbim1 Is this still an issue?

[2017-10-17 01:27] gazziandres commented on #318
THX THIS HELPS ME A LOT

[2017-10-23 16:44] #486 closed

[2017-10-24 15:51] Abdullah7528 commented on #486
This is my ultimate error after executing all the steps.
Thankyou

On Mon, Oct 23, 2017 at 9:44 AM, Rick Carlino <notifications@github.com>
wrote:

[2017-10-26 22:15] IsmaelFelix opened #517 "Problem with docker?"
Im trying to program my farmbot for the first time and im following the documentation of the Web app but at the time that i run the command rails mqtt:start i get this message (but im login in docker (i think im)):

"Unable to find image 'farmbot-mqtt:latest' locally
docker: Error response from daemon: pull access denied for farmbot-mqtt, repository does not exist or may require 'docker login'."

[2017-10-27 02:18] RickCarlino commented on #517
@IsmaelFelix Are you able to run other Docker images on the machine?

You can verify by running:

[code]

[2017-10-27 02:38] RickCarlino commented on #517
@IsmaelFelix I just provisioned a new Ubuntu 17.10 VM to make sure the Docker image is running as expected.

Everything worked fine. I used [these steps](https://gist.github.com/RickCarlino/48b0362ccb82dffe5d4a292ee1cc00d2) to get everything set up without any issues.

I think you may have a local configuration or network issue on your machine. How did your setup compare to the steps show in the l

[2017-11-01 13:01] #342 closed

[2017-11-01 13:02] #517 closed

[2017-11-09 04:00] awnp commented on #111
hello
any progress about farmbot on PHP ?
I'm studiying grblweb which is on php, still far to translate farmbot to php

[2017-11-10 14:21] Bunraku opened #528 "MQTT : rails mqtt:start problem"
Hi,
We are a group of student working on Farmbot.
We would like to have our own Farmbot web app based on our Server.
For this, we are using a Virtual Machine
We are having issues when typing the rails mqtt:start command :
It seems that the Erlang version used on our VM is not the same as the one used for the Farmbot.
Enclosed is our log file.

We would also like to know what version of Erlang is u

[2017-11-10 15:03] RickCarlino commented on #528
@Bunraku I just responded to this [question on the forum](https://forum.farmbot.org/t/mqtt-rails-mqtt-start-problem/2850/2), but perhaps Github is a more appropriate place to have this discussion.

My main questions were:

 * Is your server running any special code modifications other than the typical setup instructions?
 * What version of the app are you running? You can find out by running `git

[2017-11-10 15:34] Bunraku commented on #528
Thanks for your reply!
- Atm there is no code modification
- Here is the result of the request :

- commit 295d93c
Merge: c6d0502 33e5c87
Author: Rick Carlino <RickCarlino@users.noreply.github.com>
Date:   Sun Oct 22 14:11:48 2017 -0500
    Merge pull request #511 from RickCarlino/sunda
    Dep upgrades

[2017-11-10 15:52] RickCarlino commented on #528
@Bunraku You may be running a slightly outdated version of the app. We were still working out some bugs with the new broker at that time (October 22). Please try the following from the command line to upgrade to the latest stable version:

[code]

[2017-11-10 18:42] Bunraku commented on #528
We are going to try it as soon as possible and we will come back to you, thanks for your answer!

[2017-11-17 14:07] Bunraku commented on #528
:1st_place_medal: We have done those steps and it's working now. Thanks for your help !

[2017-11-17 14:07] #528 closed

[2017-11-17 14:32] RickCarlino commented on #528
I'm lad you got it working!

[2017-11-17 15:56] Bunraku opened #530 "White screen after login"
Hi again! :)
We have a white screen after login to our web app on our own server.
![image](https://user-images.githubusercontent.com/3373580/32956135-4150d094-cbb8-11e7-8bd8-128a806adb89.png)
How can we fix this?
Thanks :)

[2017-11-17 16:03] RickCarlino commented on #530
This might just be a strange inconsistent state from the upgrade.

A few things to try:

1. Run `localStorage.clear()` and `sessionStorage.clear()` in the Javascript console `ctrl + shift + J`
2. Hard refresh with `ctrl + shift + r`.

If that does not work:

1. What are you using as your `MQTT_HOST`, `API_HOST`, `MQTT_WS` variables in `config/application.yml`? Make sure it is a real host name and

[2017-11-17 16:24] Bunraku commented on #530
So we did your steps. Still not working :/
We have checked and MQTT_HOST and API_HOST are real host names. We deleted the line MQTT_WS as we are self hosting users.

We started the server using rails api:start.

Do you know where the problem comes from ?

Thank you in advance :)

[2017-11-17 19:34] RickCarlino commented on #530
@Bunraku I am still unsure of why this would be happening, but it is related to `webpack` not building the javascript files correctly.

Can you please try running the following:

[code]

And then show me the output of this command:
[code]

Also, if you are just trying to get a server running and do not need a local software development setup, you _might_ be able to fix the problem simply by runnin

[2017-11-21 14:17] Bunraku commented on #530
There it is :
[log.txt](https://github.com/FarmBot/Farmbot-Web-App/files/1491660/log.txt)

[2017-11-22 12:38] Bunraku commented on #530
Still not working :/ There it is :
[log.txt](https://github.com/FarmBot/Farmbot-Web-App/files/1495951/log.txt)
We would like our local development setup,but thank you for the command, it could be useful sometimes :)

[2017-11-22 14:40] RickCarlino commented on #530
@Bunraku There's not enough information to know from the log and screenshot provided. Something is preventing Webpack from loading.

Are there any other settings on your system that may be different from a typical Ubuntu developer setup? Are you running any software that is using or blocking port `3808`? Have you tried running it in Chrome?

If it is urgent, you may want to try running [these step

[2017-12-11 19:27] #530 closed

[2017-12-12 05:31] KizziePig opened #566 "Installation Failure"
# Expected Behavior
When starting the api with
rails api:start I expected it to end up Listening on <myIP>:3000 but below is the actual output although I believe I've followed the steps. Note that I'm using an AWS Linux box (essentially a Centos 6 machine).

# Actual Behavior
05:18:43 rails.1   | Listening on 0.0.0.0:3000, CTRL+C to stop
05:18:43 logger.1  | W, [2017-12-12T05:18:43.039206 #26610]

[2017-12-12 15:50] RickCarlino commented on #566
@KizziePig You have indeed spotted a bug in the setup instructions.

# What Happened?

Due to some changes in the codebase this week, the `README.md` setup instructions became outdated. The reason you are seeing the error is that the setup instructions were (incorrectly) cloning the `staging` branch, which is unstable and only used by members of the core team.

# How to Fix

I have updated the `RE

[2017-12-12 15:50] #566 closed

[2017-12-14 10:30] cyriacr opened #575 "take-photo issue"
# Expected Behavior
display photo after received "Farmbot [take-photo] completed!" notification

# Actual Behavior
display nothing

# Steps to Reproduce
self hosting with test environment, without GCP storage settings.

farmbot-web-frontend 1.1.0
farmbot OS 5.0.9
ran on Ubuntu 16.04

application.yml:
[application.yml.txt](https://github.com/FarmBot/Farmbot-Web-App/files/1558784/application.yml.txt

[2017-12-14 12:53] yunfan opened #576 "another mqtt:start failed to run"
# Expected Behavior
hi i was help my friend setup his own farmbot-server

# Actual Behavior
by following the setup instrument, i got a failed to run rails mqtt:start
i had checked https://github.com/FarmBot/Farmbot-Web-App/issues/528  and its not the same commit, that's why i open a new issue

my `git log -1 --abbrev-commit` output is

[code]

also here is the output when i run `rails mqtt:start`

[2017-12-14 13:08] RickCarlino commented on #575
@cyriacr It sounds like your background workers (which do image processing outside of the HTTP server) are not running. There isn't enough information to say, though. Your application.yml looks fine.

A few questions:

1. What version of the API are you running? Please upgrade via `rails api:upgrade` to make sure you are on the latest version.
2. What do you see when you run `rails api:start | gre

[2017-12-14 13:24] RickCarlino commented on #576
@yunfan Thankyou for providing the `git log` with this issue- it helps me identify problems more easily.

From the crash log, it looks like the API is simply not running, or is on a different IP/port than the one listed (`111.231.86.106:3000`). Ensure that port 3000 is exposed, that `111.231.86.106` is the API's actual IP address and that you started the API via `rails api:start`.

I do see an unr

[2017-12-14 17:46] cyriacr commented on #575
Hi Rick,

I did a fresh installation via my script here: https://github.com/cyriacr/fwa-quick-install

I think it's already the latest version, with "farmbot": "5.2.0-rc7" in package.json

And here is my work.1 log

[worker.1.log.txt](https://github.com/FarmBot/Farmbot-Web-App/files/1560227/worker.1.log.txt)

[2017-12-15 02:23] yunfan commented on #576
@RickCarlino thanks for the replying, yes, i follow the setup which let me first execute `rails mqtt:start` then open a new tab to execute `rails api:start`.  since mqtt:start failed, so i havnt execute `rails api:start` later. will try that as soon as possible.

and yes i used to use staging, but after check the closed issue https://github.com/FarmBot/Farmbot-Web-App/issues/566   i change the bra

[2017-12-15 06:06] gabrielburnworth commented on #576
`rails api:start` should be run first, before `rails mqtt:start`.

Port `3000` it's recommended because `You will need `sudo` to use PORT 80 on most systems.`

[2017-12-15 07:24] yunfan commented on #576
@gabrielburnworth thanks, i had retryed. first run `rails api:start` , it had launched, except print error information repeadly . print as follow
[code]

while `rails mqtt:start` still failed, the output was too long, so i pasted here
https://clbin.com/L7B8e

still i just wonder why it will looking for the 3000 port while i had change that to 80 in `config/application.yml`

any other configure or

[2017-12-15 19:30] RickCarlino commented on #576
@yunfan I think I found the issue.

`Procfile.dev` has `3000` hardcoded on line 2. I will need to deploy a patch for this.

In the meantime, you can change line 2 to:

[code]

You will likely need to run `rails api:start` with `sudo` now.

[2017-12-15 19:37] RickCarlino commented on #575
@cyriacr `rc7` might be too new of a release (that's our unstable staging branch).

I would recommend starting over with the stable `master` branch. Farmbot js should be at `5.0.2` as of 15 December 2017. We should have a new release out in the next week or so.

I noticed in your script that you set `RAILS_ENV=test`. I would *not recommend* that. Please run the app in `production` or `development`

[2017-12-16 01:13] yunfan commented on #576
@RickCarlino
i changed that as you give
but it failed again, looks like nodejs has some configure wrong
[code]

since i run `rails` under `root`, so i havnt use `sudo`

[2017-12-16 15:55] cyriacr commented on #575
@RickCarlino I've cloned from master branch and changed RAILS_ENV to development but still having same issue in take-photo issue.
I'll pause testing current version and wait for new release out.

[2017-12-17 02:30] RickCarlino commented on #576
This error:

[code]

Means that something is already using port `3808`. This could be another server that is still running, or it could be a frozen `ruby`/`node` process that did not close properly.

[2017-12-17 09:41] yunfan commented on #576
@RickCarlino
thanks i found it was my mistake that i had already execute `rails api:start` at another tab
after killed that, i still got errors like bellow

[code]

and this is what i got from execute `rails mqtt:start`

[code]

[2017-12-17 14:19] RickCarlino commented on #576
@yunfan

What do you see when you type

[code]

and then type

[code]
?

It looks like the RabbitMQ broker is trying to download resources from `111.231.86.106:3000` when it should be `111.231.86.106:80`.

This could be an issue on our end, or it could be a missing/malform `API_PORT` in `application.yml`.

[2017-12-18 02:13] yunfan commented on #576
yes, just like you said, this is output
[code]

and here is my application.yml

[code]

[2017-12-18 15:47] RickCarlino commented on #576
@yunfan I think I may have a fix for this issue. `Procfile.dev` was hardcoded to `3000`. Even though you changed the port, it is still trying to set the server port to `3000`. This is fixed in PR #586

You have a few options:

 * use the `staging` branch. It may be unstable.
 * Use port `3000` for now and wait for the 6.0 release when the codebase will be stable.

[2017-12-18 15:49] RickCarlino commented on #576
Closing this issue for now. Please let me know if we need to re-open it.

[2017-12-18 15:49] #576 closed

[2017-12-27 09:01] yunfan opened #594 "missing route handler for the url "/webpack/front_page.js""
hi after a hardtime trying, i finally get this farmbot web app installed, its now runs at `111.231.86.106:3000`
i could saw the api part works
but when i try to use the web interfaces, it just told me this
[code]

i really need this help please

[2017-12-27 09:03] #594 closed

[2018-01-11 19:04] gabrielburnworth commented on #401
Fixed in the recently released FarmBot OS v6.0.1.

[2018-01-11 19:04] #401 closed

[2018-01-23 13:20] nicmel opened #634 "Path error ubuntu install procedure"
# Expected Behavior

the source command "source /usr/local/rvm/scripts/rvm" shoud find this file

# Actual Behavior

it does not find it. The path does not exist.
I can find a file in ".rvm/scripts/rvm" but I don't know if it's the right one

# Steps to Reproduce

By folowing the install procedure on ubuntu server

[2018-01-23 13:41] nicmel opened #635 "ubuntu provedure npm test"
# Expected Behavior

no errors during test

# Actual Behavior

error during test:

webpack/farm_designer/farm_events/__tests__/edit_fe_form_test.tsx (5.262s)
  <FarmEventForm/> › Recombines local state back into a Partial<TaggedFarmEvent["body"]>
   expect(string).toContain(value)
     Expected string:
      "2017-07-31T08:35:00.000Z"
    To contain value:
      "2017-08-01"

      at Object.<anon

[2018-01-23 15:04] RickCarlino commented on #634
Hi @nicmel,

I will investigate the issue now. Thanks for bringing this to our attention.

[2018-01-23 15:22] nicmel opened #636 "javascript security policy"
# Expected Behavior

Accessing the web page X.X.X.X:3000

# Actual Behavior

Blank page, firefox and chrome debug gives:
x.x.x.x:3808/webpack/front_page.js (« script-src http://x.x.x.x:3000 'unsafe-eval' 'unsafe-inline' http://cdnjs.cloudflare.com chrome-extension: http://localhost:3808 »).

# Steps to Reproduce

following the ubuntu procedure on ubuntu server.

[2018-01-23 16:53] RickCarlino commented on #634
@nicmel

I was not able to reproduce this issue on a fresh installation of Ubuntu 17. All of the steps in [ubuntu_example.sh](https://github.com/FarmBot/Farmbot-Web-App/blob/staging/ubuntu_example.sh) related to RVM seem to be working.

Some other things you could try:

 * Make sure you are running Ubuntu 17x64
 * Make sure RVM installs completely. Feel free to raise an issue if installation fails

[2018-01-23 16:53] #634 closed

[2018-01-23 17:08] RickCarlino commented on #636
@nicmel Thanks for finding this bug. The fix is in [Pull Request #637](https://github.com/FarmBot/Farmbot-Web-App/pull/637)

[2018-01-23 17:08] #636 closed

[2018-01-23 17:22] RickCarlino commented on #635
@nicmel This is likely a timezone adjustment issue on your local machine.

You can safely ignore it (for now).

I will leave this issue open until a fix is deployed. Thanks for letting us know.

[2018-01-29 22:20] rdegosse commented on #575
Hi,
Same issue in 6.1.0...
Test KO with no GCS_BUCKET config (local) and with a personal GCS BUCKET.
Test Ok with same SD card (F OS 5.0.9) and my.farmbot.io

[2018-01-30 22:58] mdchia opened #652 "Unable to increase wifi timeout limit"
# Expected Behavior

Changing connection attempt period in Device > Power and Reset > CONNECTION ATTEMPT PERIOD should save as normal (along with the other device settings)

# Actual Behavior

Doesn't update, error message in logs:
`[farmbot name] got an invalid configuration in Configuration tracker: "network_not_found_timer"`

# Steps to Reproduce

Using my.farmbot.io servers
Farmbot OS Version

[2018-01-30 23:03] gabrielburnworth commented on #652
Your FarmBot OS version is outdated and will not work with this new feature. Please update to the latest FarmBot OS, currently v6.1.2.

[2018-01-30 23:03] #652 closed

[2018-02-21 07:43] Darchevil opened #673 "Installation Failure"
# Expected Behavior
Test successful when launching RAILS_ENV=test rake db:create db:migrate && rspec spec

# Actual Behavior
I have got 10 failures but it's the same failure than 1)
Failures:

  1) Api::SequencesController#create tracks Points
     Failure/Error: tid = FactoryBot.create(:tool, device: device).id

     NoMethodError:
       undefined method `pullout_direction' for #<Tool:0x00000000

[2018-02-21 07:48] Darchevil opened #674 "Installation Failure"
# Expected Behavior
Rails mqtt:start started correctly
# Actual Behavior
Start failed

Starting broker...
Starting JWT Auth app.
Trying to fetch public key from: http://127.0.0.1:5672/api/public_key

BOOT FAILED
===========

Error description:
   {could_not_start,rabbit_auth_backend_jwt,
       {{shutdown,
            {failed_to_start_child,rabbit_auth_backend_jwt_pub_key_fetcher,

[2018-02-21 14:38] RickCarlino commented on #673
@Darchevil Thanks for the detailed information!

It looks like your local database is running an outdated schema. Running `RAILS_ENV=test rails db:reset` might help.

It would be helpful to see the exact version of the web app that you're running. Can you please copy/paste the results of this command?:

[code]

[2018-02-21 14:50] RickCarlino commented on #674
@Darchevil It looks like you may have started the MQTT server before running `rails api:start`. The MQTT server will not boot if the web app is not ready to accept connections.

Another possibility is that you started the servers in the correct order (Web API -> MQTT) but the Web server was not yet ready.

You will know the webserver is fully loaded when you see a message like this:

[code]

Anoth

[2018-02-21 14:50] #674 closed

[2018-02-25 20:03] Darchevil commented on #674
Hello !

I deleted the Public key into the file Application.yml. Does it change anything ?

I still can't launch the api:start. This is the redundant message :
21:00:59 logger.1  | lib/log_service.rb:9: warning: already initialized constant Bunny::TCPConnectionFailedForAllHosts
21:00:59 logger.1  | lib/log_service.rb:9: warning: previous definition of TCPConnectionFailedForAllHosts was here
21:00:

[2018-02-25 20:06] Darchevil commented on #673
Hey Rick !

Thanks for your message. This is my git log -1 result :

darchevil@yoann-BM:~/FWA/Farmbot-Web-App$ git log -1
commit 69f565600527e12700b6dd1408a625301de06da8
Merge: c9ea068 ee511d3
Author: Rick Carlino <RickCarlino@users.noreply.github.com>
Date:   Mon Jan 22 10:26:39 2018 -0600

    Merge pull request #632 from RickCarlino/staging

    v6.1.0 - Gracious Guava

Is it good ?
Thank you a

[2018-02-25 20:17] Darchevil commented on #674
Hello again !

After my reset, i tried to run the RAILS_ENV=test... I have this result :

Finished in 3.95 seconds (files took 8.34 seconds to load)
42 examples, 10 failures

Failed examples:

rspec ./spec/mutations/sequences/create_spec.rb:38 # Sequences::Create Gives validation errors for malformed sequence_id
rspec ./spec/mutations/sequences/create_spec.rb:29 # Sequences::Create Gives validatio

[2018-02-26 14:13] RickCarlino commented on #674
No, it shouldn't matter.

You're seeing that message because you still need to run `rails mqtt:start` OR, if the MQTT server _is_ running, there is something preventing MQTT from accepting connections such as:

 * A firewall
 * `MQTT_HOST` or `API_HOST` in `application.yml` are not correct (make sure they are set to real IP addresses and not `localhost`).

What do you see? An empty screen or an er

[2018-02-26 14:32] Darchevil commented on #674
This is my Application.yml file :

# ░██████░░███████░░█████░░░██████░░
# ░██░░░░░░░░██░░░░██░░░██░░██░░░██░  READ THIS BEFORE USING IT.
# ░██████░░░░██░░░░██░░░██░░██████░░  SEE NOTES BELOW:
# ░░░░░██░░░░██░░░░██░░░██░░██░░░░░░
# ░██████░░░░██░░░░░████░░░░██░░░░░░
# You will hit issues if any of these are set to the wrong value.
# Please read each line of this file before starting the server.
#
#

[2018-02-26 14:56] RickCarlino commented on #674
@Darchevil Are `172.17.0.1` and `192.168.2.1` the actual IP addresses of the machines running MQTT and Web App servers? They must be valid IP addresses that are reachable from your local LAN or the public internet.

Another question: Are you running the MQTT server on a different machine than the web app? If not, `MQTT_HOST` and `API_HOST` can use the same IP.

Was there a reason you chose to use

[2018-02-28 06:17] Darchevil commented on #674
Hello !

 Thanks for your help. It's all working. I just had put bad IP addresses.

See you !

[2018-02-28 15:40] RickCarlino commented on #674
@Darchevil I'm glad you got it working! :+1:

[2018-03-05 10:47] AscendFB opened #694 "Can't delete weeds"
# Expected Behavior
Detected weeds get erased from the plant designer.
# Actual Behavior
Toast error message:
![image](https://user-images.githubusercontent.com/23129562/36970796-09876176-206a-11e8-87cc-99e1b2bfd367.png)

Chrome console error message:
![image](https://user-images.githubusercontent.com/23129562/36970766-efc97a62-2069-11e8-9df1-6ac5d0fe327e.png)

# My FarmBot API Version
I'm using m

[2018-03-05 15:28] RickCarlino commented on #694
@AscendFB I am investigating the issue right now.

On first glance, it looks like one of the points you are trying to delete is in use by a sequence.

If that is the case, I will need to update the error message to be more descriptive.

I will take a deeper look now to see if there are any other factors at play.

[2018-03-05 17:32] #694 closed

[2018-03-05 17:36] RickCarlino commented on #694
@AscendFB Please let me know if we need to re-open this issue or not.

[2018-03-07 00:42] AscendFB commented on #694
@RickCarlino oh you are absolutely right! Looks like I selected such a weed point accidentally in a sequence without even knowing.
Thanks for the investigation and the updated error message 👍

[2018-03-18 12:42] AscendFB opened #730 "MQTT server/address moved?"
# Expected Behavior
Connecting to MQTT server at mqtt.farmbot.io:1883, or as it used to be before the MQTT change my.farmbot.io:1883.
# Actual Behavior
![image](https://user-images.githubusercontent.com/23129562/37565836-07aca4fa-2ab1-11e8-86c0-86bd3fc88a7f.png)
I managed to connect to `brisk-bear.rmq.cloudamqp.com` instead.

My question: Does this MQTT address stay like this? There are some place

[2018-03-18 14:32] RickCarlino commented on #730
Hi @AscendFB ,

This is correct. `mqtt.farmbot.io` was decommissioned a few months ago in favor of managed hosting. The MQTT host for your device is `brisk-bear.rmq.cloudamqp.com`. If you are building a production critical application, the safest way to resolve the host address is by accessing the `mqtt` claim of your access token. For hobby projects or debugging, it's probably not a huge deal and

[2018-03-18 14:32] #730 closed

[2018-03-18 15:10] AscendFB commented on #730
Oh sorry, thats right. Looks like I messed up the browser tabs at this time.

Alright, I will keep that in mind for the next time. I just wasn't able to find any indications that the address changed recently.
Thanks for helping out!

[2018-03-26 06:37] kc6esn opened #748 "webpack.1 error"
# Expected Behavior
no error
# Actual Behavior
rails api:start
WARNING: Use strings for Figaro configuration. false was converted to "false".
W, [2018-03-25T23:06:02.169824 #2921]  WARN -- : [SKYLIGHT] [1.5.1] Running Skylight in development mode. No data will be reported until you deploy your app.
(To disable this message for all local apps, run `skylight disable_dev_warning`.)
PORT=3000 bundle e

[2018-03-26 07:45] kc6esn commented on #748
Ran a new install of the web app but keep on getting this error, Please advise thank you! - Walter

[2018-03-26 12:45] RickCarlino commented on #748
@kc6esn It looks like some of your dependencies did not install. Did you run `yarn install` from within the _same directory_ as the FarmBot Web App? If so, what did the output look like?

[2018-03-27 00:14] nichoguimbaolibot-ubidy opened #753 "Database Error?"
Im having an error when I enter the command rails api:start
I dont know what is the cause of the error.

# Expected Behavior

# Actual Behavior

[code]

# Steps to Reproduce
rails api:start
# My FarmBot API Version
commit 5fc02d1031455dbe9c22a8eb83b09711589a29e5
Merge: 7079736 1ed3a94
Author: Rick Carlino <RickCarlino@users.noreply.github.com>
Date:   Sun Mar 25 16:44:22 2018 -0500

    Merge pull

[2018-03-27 12:51] RickCarlino commented on #748
@kc6esn I will need more information to continue troubleshooting this issue. Please let me know if `yarn install` did not fix the issue.

[2018-03-27 12:51] #748 closed

[2018-03-28 05:50] kc6esn commented on #748
Hi there Rick, it needed a sudo yarn install. There were also a few other issues with the new Ubuntu 17.10.1 as far as permissions but everything works and the gantry is moving locally now! Thank you again !

[2018-03-28 11:28] #753 closed

[2018-03-30 09:28] ThomasLegris opened #758 "Installation Failure"
# Expected Behavior
We are students who are working on Farmbot. University have bought the Robot and we would modify the web application. Our project consist to improve user interface.

# Actual Behavior
Our main problem is to launch the app. We have launched the app on localhost but different steps don't work, here is the error :

1. at step 9 : "optional) Verify installation with RAILS_ENV=test

[2018-03-30 11:58] RickCarlino commented on #758
@ThomasLegris

For the first issue, Try running `jest --no-coverage --cache -w 5` and pasting any errors. Usually, `ELIFECYCLE` indicates a permissions issue. If you have special permissions set up on your machine, you may need to run the command as `sudo jest --no-coverage --cache -w 5`.

For the second issue, I will need more information. Please paste the full stacktrace.

[2018-03-31 14:56] nichoguimbaolibot opened #762 "Applicatin starting failure when the IP address change."
Im a student working on a FarmBot and I seek to modify the web app. I already run it on my local server but once my ip address change and changes the application.yml variables the application wont start I dont know what is the cause of the error. Thanks in advance.

# Expected Behavior

# Actual Behavior
W, [2018-03-31T22:49:08.904359 #8585]  WARN -- : [SKYLIGHT] [1.6.0] Running Skylight in develo

[2018-03-31 14:59] #758 closed

[2018-03-31 15:09] RickCarlino commented on #762
It looks like the original process either did not shut down cleanly, or it is still running:

When you change `application.yml` be sure to:

1. Properly shutdown the running server and MQTT broker (`ctrl + c` on most systems)
2. Do not use local IP addresses such as `localhost`, `127.0.0.1` or `192.168.0.0` for the `MQTT_HOST` and `API_HOST` values.
3. Re-start the server and MQTT broker after any

[2018-03-31 15:09] #762 closed

[2018-04-01 05:24] gabrielburnworth commented on #762
It looks like you are using configuration settings copied from an old version of `application.example.yml` file.
Try changing `PORT: "3000"` to `API_PORT: "3000"`.

[2018-04-02 08:20] SRTjiawei commented on #576
@RickCarlino I got the same problem after I have updated Procfile.dev file and use 3000 as API_PORT. Could you give me some hints on this? thanks in advance

Error when I run `rails mqtt:start` after `rails api:start`:
[code]

[2018-04-02 13:48] nichoguimbaolibot opened #767 "Disable x-frame-option sameorigin"
How can I disable the x-frame-option same origin?

[2018-04-02 13:55] #767 closed

[2018-04-02 14:21] RickCarlino commented on #576
@SRTjiawei You need to explicitly generate an encryption key in order to run in `production`. In `development` mode, we implicitly create the key. It looks like your server is crashing because it can't find an encryption key to use.

Please try `RAILS_ENV=production rake keys:generate`, which will generate a `jwt.production.pem` file.

If that does not work, please open a new issue and we can inve

[2018-04-06 08:12] ThomasLegris commented on #758
Hi,
Thank you for your reply. Unfortunatly, it doesn't work, I had install jest
and then run your command.

We have several issues at step 9 and when we launch "rails api:start" and
then "rails mqtt:start" . Command  "api:start work" is working sometimes
but I will send you the error message.
The only times when api and mqtt work we have problem of "manifest" when we
try to connect to localhost:30

[2018-04-06 08:15] ThomasLegris opened #777 "Web app issues"
Hi,
Thank you for your reply. Unfortunatly, it doesn't work, I had install jest and then run your command.

We have several issues at step 9 and when we launch "rails api:start" and then "rails mqtt:start" . Command  "api:start work" is working sometimes but I will send you the error message.
The only times when api and mqtt work we have problem of "manifest" when we try to connect to localhost:30

[2018-04-07 12:37] RickCarlino commented on #777
@ThomasLegris Please try running `rake keys:generate` and then running `rails api:start`.

[2018-04-07 12:37] #777 closed

[2018-04-20 15:48] RickCarlino commented on #777
@ThomasLegris I'm glad to hear you got it working! :tada:

In the future, please start new issues when you have a question that is not related to the original content of the issue thread.

To answer your question: The Web App was not intended to be used as a content management system (such as Wordpress) so there is currently no easy way to accomplish this. To add a new tab to the app, you would ne

[2018-04-24 09:55] ThomasLegris opened #807 "Web-app modifications"
# Expected Behavior
We want to modify the web-app. We are adding a new Page named "NouvelOnglet"
Modification of next files :oncoming_police_car:
- nav_links
- route_config
- add a folder named "NouvelOnglet" in Webpack with only one file : "index.tsx"

# Actual Behavior
There are several problems about the code that I have written. I have pasted all problems and all codes that I had modified.
# S

[2018-04-24 13:59] RickCarlino commented on #807
@ThomasLegris

You need to put your `page("Nouvel...")` above the catch-all route (`page(*)`). Probably what is happening is that the catch-all route is taking higher precedence than your custom page.

Your `import` path for `./state_to_props` is not correct. There is no `state_to_props.ts` file in the current file's directory.

This is a part of Redux state management. Unfortunately, I don't have

[2018-04-24 13:59] #807 closed

[2018-05-01 15:31] etcipnja opened #822 "3rd party farmware is gone after reboot"
# Expected Behavior
Installed farmware is not removed after emergency reboot

# Actual Behavior
My farmbot reboots itself quite often with the message UART device removed. After it boots all 3rd party firmware is gone and I have reinstall it. Refreshing page doesn't help. However instead of reinstalling farmware I may initiate normal reboot and it brings my farmware back without reinstalling it

#

[2018-05-01 15:48] ConnorRigby commented on #822
`UART device removed. ` doesn't actually cause a `reboot` more like a soft reset. I will look into this.

[2018-05-01 17:00] etcipnja commented on #822
See the possible root cause of the reboot here
https://forum.farmbot.org/t/farmbot-reboots-often-uart-device-removed/3466?u=etcipnja

[2018-05-04 21:04] #575 closed

[2018-05-09 01:12] Phrohdoh opened #838 "[Request] Auto-generated, publicly accessible API docs"
Currently https://gist.github.com/RickCarlino/10db2df375d717e9efdd3c2d9d8932af exists but it would be very useful to have a, for example, https://api.farm.bot that detailed the available endpoints for data retrieval, creation, and issuing commands would be very useful for farmware and integration developers.

If something like this already exists please point me to it and close this ticket.

[2018-05-09 05:05] Phrohdoh commented on #838
#707 is related.

[2018-05-09 11:50] RickCarlino commented on #838
Good point, @Phrohdoh.

 A full blown developer documentation portal is on our agenda for the next month. It will have its own URL and be similarly structured to the way end-user software docs are, but with a focus on Farmware and 3rd party developers. I have a couple of things to finish up before then (pre-release bug fixes and variable declarations in the sequence editor), but it is coming up on

[2018-05-09 19:00] 1k2k opened #839 "Sendgrid doesn't send emails"
# Expected Behavior
Sendgrid show error if mail not sent
# Actual Behavior
Sendgrid silently fails to send email
# Steps to Reproduce
I added my sendgrid username and password into the config/application.yml,
# My FarmBot API Version
commit edbe14dff69243a35b0aa903567416be87c22e1c
Merge: be2953d 8a081e1
Author: Rick Carlino <RickCarlino@users.noreply.github.com>
Date:   Sat Apr 28 12:04:56 2018 -0

[2018-05-12 15:28] 1k2k commented on #839
Thanks for the help, the server was in development mode, and it seems Farmbot only uses Sendgrid in production. nevertheless all errors i received pointed to execution timeout with or without correct credentials.

[2018-05-12 15:28] #839 closed

[2018-05-15 01:49] etcipnja opened #853 "Problems with logs"
Try to print the following lines to the log via this script
'''
    def log(self, message, message_type='info'):

        try:
            log_message = '[{}] {}'.format(self.app_name, message)
            node = {'kind': 'send_message', 'args': {'message': log_message, 'message_type': message_type}}
            response = requests.post(os.environ['FARMWARE_URL'] + 'api/v1/celery_script', data=jso

[2018-05-25 09:00] nicmel opened #865 "Question about a TODO"
# Expected Behavior

the web app should run

# Actual Behavior

the web app abort and I get this error:

 [SKYLIGHT] [1.6.1] Unable to start, see the Skylight logs for more details
10:51:50 rails.1   | => Booting Thin
10:51:50 rails.1   | => Rails 5.1.6 application starting in production on http://0.0.0.0:3000
10:51:50 rails.1   | => Run `rails server -h` for more startup options
10:51:50 rails.1

[2018-05-25 09:09] gabrielburnworth commented on #865
You will need to run `rake keys:generate` as shown on this line of `ubuntu_example.sh`: https://github.com/FarmBot/Farmbot-Web-App/blob/3bf9ea84160362bf53a03a2b038002eaa614f1bc/ubuntu_example.sh#L58

[2018-05-25 13:55] etcipnja opened #866 "WS API: /points - 'radius' field"
# Expected Behavior

return integer representing radius of the plant  in mm

# Actual Behavior

returs float representing diameter in cm

# Steps to Reproduce

GET /points and inspect returned structure (for example for Basil it returns radius: 25.0)

# My FarmBot API Version
1.3, 6.4.1

Run `git log -1` and paste the results here

[2018-05-25 14:30] #866 closed

[2018-05-25 14:30] etcipnja commented on #866
my bad, it looks radius is not even populated, it is 25 for all plants

[2018-05-25 14:36] RickCarlino commented on #865
@nicmel What do you have in your `keys/` directory after running `rake keys:generate`?

[code]

[2018-05-27 05:09] muenchris opened #868 "Selfhost installation fails..."
# Expected Behavior
Should run after the instructions given
# Actual Behavior
rails api:start
Fails - looks like IP of API_HOST given in application.yml was not taken...
| => Rails 5.1.6 application starting in production on http://0.0.0.0:3000
shortly after "unable to start"
The entry API_HOST: is set correctly in the application.yml but it looks like the environment variables are not set at all

[2018-05-27 18:40] RickCarlino commented on #868
@muenchris

Yes, this is a typo. Thanks for bringing it to our attention. I will update the file shortly.

Did you log in / out after installing RVM? One workaround might be to run `rvm use 2.5.1` every time you open a new tab.

Please let me know if that doesn't work and I can investigate further.

[2018-05-27 18:56] #868 closed

[2018-05-27 19:12] muenchris commented on #868
If I logout-login (of Ubuntu) “rails” is not even found in the main terminal.

If I “rvm use 2.5.1” and then “rails api:start” I still get the not that “Command ‘rails’ not found, but can be installed with ‘sudo apt install ruby-railities’”. I have not done this (as its not in your ubuntu_example.sh) – should I do this?

I tried to manuall set the Environment variable “API_HOST=<myIP>” but that di

[2018-05-29 12:31] RickCarlino commented on #868
@muenchris

Correct, this should be handled by RVM. Installing Ruby components via `apt-get` can sometimes cause problems.

Correct, you will need to load the API before the MQTT process.

Let's try this:

0. `cd wherever_the_app_is_installed`
1. `rvm use 2.5.1` (again)
2. `gem install bundler`
3. `bundle install`
4. `rvm list`
5. (if nothing went wrong in the steps above) `rails api:start`

Pleas

[2018-05-29 19:57] muenchris commented on #868
I don’t see anything wrong after executing the lines below…except:
[cid:image001.png@01D3F74C.21D1A940]

After I “rails api:start” it still fails
[cid:image002.png@01D3F74C.21D1A940]

Then lots of log output…in the end:

[cid:image003.png@01D3F74C.5BED7460]

Chris

From: Rick Carlino <notifications@github.com>
Sent: Tuesday, May 29, 2018 5:32 AM
To: FarmBot/Farmbot-Web-App <Farmbot-Web-App@noreply

[2018-05-29 20:22] derletztename opened #870 "Issue while following instructions to install an instance locally"
# Expected Behavior
bundle install to run smoothly

# Actual Behavior
error because installing nokogiri failed

# Steps to Reproduce
After installing all prerequisites necessary on my raspberry pi 3 with "ubuntu-18.04-preinstalled-server-armhf+raspi3.img.xz" (from https://wiki.ubuntu.com/ARM/RaspberryPi), I followed the instructions and got the error at "bundle install"

# Results of `git log -1`

[2018-05-29 20:42] RickCarlino commented on #870
@derletztename Please try running the server on a traditional x86 based computer (eg: a desktop).

You will hit numerous issues trying to run a server on a Pi. Common issues reported when running a web server on a Pi:

 * Problems compiling C code for ARM that was intended to run on x86 devices (I suspect this is the error you are facing)
 * Insufficient RAM
 * Problems building / running Docker i

[2018-05-29 20:42] #870 closed

[2018-05-29 20:43] RickCarlino commented on #865
I will close this issue for now. If you require further assistance, please let us know.

[2018-05-29 20:43] #865 closed

[2018-05-29 20:46] RickCarlino commented on #868
@muenchris It seems like your email client is not sending image attachments correctly. Can you please post the screenshots using the [Github link](https://github.com/FarmBot/Farmbot-Web-App/issues/868).

[2018-05-30 06:48] nicmel commented on #865
Hi,

Thanks for your reactivity.
Sorry I had no time until now to check.

I have no keys directory

When I do rake keys:generate, it displays the key and after that it's saved
in a file named "jwt.development.pem".

Here is the output:
rake keys:generate
W, [2018-05-30T08:40:24.297897 #1229]  WARN -- : [SKYLIGHT] [1.6.1] Running
Skylight in development mode. No data will be reported until you depl

[2018-05-30 07:17] derletztename commented on #870
If you want to use the farmbot off grid, you need either a really big internet flat rate (I recently learned there is a lot of data tranfer necessary just by using the farmbot) or an "offline" Web-App server.
And I can't easily put a regular PC on a field. Do you have any recommendation for a tiny x86 PC that could be used on a field as a server with reasonable pricing? One could use the UDOO (htt

[2018-05-30 12:14] RickCarlino commented on #870
@derletztename Any x86 based processor with at least 4gb of memory at a few gigabytes of storage will suffice. You _might_ be able to go as low as 2gb of RAM, but 4 is ideal (I've seen servers hit issues with only 2gb).

I have never worked with a Udoo board, but it looks like the "advanced" model just barely meets the specs. Another option (if you are on a very tight budget) would be to search lo

[2018-05-30 12:17] RickCarlino commented on #865
We fixed this a few days ago. Indeed, it was an error.

Can you try this instead?

[code]

[2018-05-30 14:46] nicmel commented on #865
Hi,

the key generate is still in the bad place in the master branch

when trying with RAILS_ENV=production rake keys:generate

I get

"

"

So I manually create the directory and the file and I still got the same
error.

I check in the ...... file and I find:

PROD_KEY_FILE    = "/keys/production.pem"

So  I think it tries to find it from the system's root

Le mer. 30 mai 2018 à 14:17, Rick Carli

[2018-05-30 20:51] derletztename commented on #870
The issue is more to power the server and protect it from the weather on the field. It would be helpful if the server runs on 12V and fits under the solarpanel housing.
I did some research, what do you think of this pc:
https://www.zotac.com/ae/product/mini_pcs/zbox-ci325-nano
It got wifi, you can fit enough ram in and with a tiny transformer it can be used with 12V and consumes only small amounts

[2018-06-01 19:39] derletztename commented on #870
So I bought that Zotac x86 PC and installed Ubuntu Server, the amd64 version, on it.
And I ran into the same exact problem than before. I guess it's not related to the ARM architecture then?
Could you please help me getting your software to run @RickCarlino, the plant are growing and I can't use the farmbot without the server as it is off grid and farmbot software needs more data than I can spend

[2018-06-01 20:35] RickCarlino commented on #870
@derletztename
For some reason, your system can't find `ruby.h`, which I don't see often on `rvm` based installations.

Please run the following and send me a screenshot:

[code]

[code]

Also, how did you set up the pre-requisite packages? Did you use `ubuntu_example.sh`?

You won't need to modify the server for this. A [regimen](https://software.farm.bot/docs/regimens) or [farm event](https://so

[2018-06-01 20:43] derletztename commented on #870
![img_20180601_224055](https://user-images.githubusercontent.com/7712645/40862491-003bd660-65ed-11e8-992b-2a74d77e91a6.jpg)
Thx for answering so fast. I think I made a mistake installing ruby/rvm?
I did not use ubuntu_example.sh, I don't even know what this is. I just installed package after package with apt-get install.
I did what you asked for and added the screenshot, but I guess I have to inst

[2018-06-01 21:02] derletztename commented on #870
After installing rvm (following [](https://github.com/rvm/ubuntu_rvm)) I was able to install ruby with rvm in a different way. I guess this will fix the issue. I'll comment again when it's finished

[2018-06-01 21:11] derletztename commented on #870
No, after installing rvm and with that ruby 2.5.1 and doing a reboot and apt-get update, I still was not able to install with bundler. It's the exact same error :(

[2018-06-02 03:12] RickCarlino commented on #870
@derletztename Try
[code]
instead of `bundle install`.

If that doesn't work, try re-flashing Ubuntu and using with [these instructions](https://github.com/FarmBot/Farmbot-Web-App/blob/staging/ubuntu_example.sh). It is difficult to pinpoint the exact differences between systems, so starting with a fresh installation of Ubuntu 18.04 and following the directions in that file will help eliminate some

[2018-06-02 10:08] derletztename commented on #870
I tried sudo bundle install, without it hadn't even started before.
So then I completely reinstalled and tried following your instructions, but failed at the very first bit, because it won't install docker this way.
I am using Ubuntu Server 18.04 LTS... do I have to switch back to Ubuntu 17 to get it running?

[2018-06-02 10:10] derletztename commented on #870
There is no Ubuntu 17 on the Ubuntu download site: https://www.ubuntu.com/download/alternative-downloads

[2018-06-03 20:02] RickCarlino commented on #870
@derletztename

Please show me the errors.

Ubuntu 18 should work. I just installed on Ubuntu 18.04 this week without issues (it was a Desktop edition machine, but server edition has worked fine in the past).

I am going to take a closer look at the configuration issues today. I will let you know if I find anything.

[2018-06-03 21:05] derletztename commented on #870
Hey sorry I forgot to write again. So the issue with docker was I mistyped apt-key with apt-get. Shame on me :(
I installed all the things on this list and had no more issue. But when I tried to start the server with "bundle exec rails api:start" it told me there is no bundle installed on my machine and I lost it. I gave in for the rest of the weekend and will ask an software expert tomorrow

[2018-06-04 14:27] RickCarlino commented on #870
@derletztename

Usually, when things like `bundle` go missing, it is because `rvm` is not using the correct ruby version. Make sure that RVM is on the correct Ruby version (`rvm use 2.5.1`) and try again.

[2018-06-04 18:50] derletztename commented on #870
Today a friend of mine helped me out and now we finally got it running. The issue was that line 17 has to be fitted slightly (source /usr/local/rvm/scripts/rvm) for my system. It gave a message after typing it in but I hadn't recognised. So now the webserver is finally running :)

Just one more question, how do I stop the mgtt server when it is running? We haven't found a solution other than shutt

[2018-06-04 19:06] RickCarlino commented on #870
@derletztename I'm glad you were able to fix the issue :tada:.

To stop the MQTT process you can run:

[code]

There are a few places:

 * **Non-technical questions / end user questions**: Search the [Farmbot Forum](https://forum.farmbot.org)
 * **Server / software development** Raise an issue (like you did just now). Ideally, we ask that you raise one issue per question because it makes it easier

[2018-06-06 03:19] etcipnja opened #875 "Sync called from farmware is unstable"
# Expected Behavior
When I call
[code]
I expect it to sync with the bot or error generated.

# Actual Behavior
Error is not generated but it is not syncing sometimes

# Steps to Reproduce
[code]
# Log

[code]

[2018-06-06 05:38] gabrielburnworth commented on #875
First off, thank you for including the script used to reproduce the issue!

The results experienced here have more to do with how syncing works than with something not working. Put very briefly, before FarmBot OS can sync it must have received a broadcast message from the API indicating that a change to a resource has been made.

The issue here is the time it takes for a change made to a resource

[2018-06-06 05:38] #875 closed

[2018-06-06 13:30] etcipnja commented on #875
well, I certainly can cope with this. However this doesn't look like a sound design decision.
It is not clear why FarmBot OS has to wait for the signal? What difference this signal makes?

If user posted a change and change was accepted and then user sent sync command and sync was accepted - the data must be consistent, there could be no any race condition here. User shall not worry about your int

[2018-06-06 15:40] ConnorRigby commented on #875
Sync status is available to Farmware's in the bots state endpoint. `/api/v1/bot/state` will have a rather large blob of data you can look thru. If you look at `informational_settings.sync_status` you will see its current status.

Farmbot OS has to wait for the signal to keep consistency between the OS, Frontend, and Backend. The API is the single source of truth, so it _must_ dispatch its version

[2018-06-08 07:23] patricknoack opened #880 "Installation Failure"
# Expected Behavior
Installation wirks

# Actual Behavior
Installation fails, s. logiles

# Steps to Reproduce
Install FarmBot Webserver on Ubuntu 18.04.
# Results of `git log -1`
[farmbot_logs.zip](https://github.com/FarmBot/Farmbot-Web-App/files/2083330/farmbot_logs.zip)
[farmbot_logs.zip](https://github.com/FarmBot/Farmbot-Web-App/files/2083335/farmbot_logs.zip)

Run `git log -1` and paste the

[2018-06-08 11:51] RickCarlino commented on #880
@patricknoack

A few things:

1. It appears that you ran the commands outside of the installation directory. For commands like `npm run test` or `rails api:start` to work, you need to [use the "cd" command to enter the installation directory](http://www.informit.com/blogs/blog.aspx?uk=The-10-Most-Important-Linux-Commands) where `Farmbot-Web-App` resides. Most likely `cd ~/Farmbot-Web-App`.
2. You

[2018-06-08 11:51] #880 closed

[2018-06-10 17:17] dcherrera commented on #870
@derletztename do you have the web server running on your pi?

[2018-06-12 15:36] derletztename opened #883 "No Buttons on local Server"
Hi Guys,

I got my local Server running and ready for the field. It has an internet connection and I can login.
But for some reasons - I don’t understand - there are none of those buttons that should be on the web-app.
So no add plants button, none of the calibration buttons/field, none on the farmware page and none in the settings.
How can I get this buttons there? I am using edge as a browser wh

[2018-06-12 16:46] RickCarlino commented on #883
@derletztename

 * What version of FBOS is your device running?
 * Is the device online?
 * Do you see any errors in the javascript console? (ctrl + shift + j)

We don't test against Edge. It's always best to try against Chrome (preferred) or Firefox (seems to work OK).

You are completely off grid, correct? We are aware of a bug in off-grid systems due to an inability to contact an NTP server. We

[2018-06-12 18:13] derletztename commented on #883
Thanks for answering fast RickCarlino,
I have no idea what FBOS is and how I find out which version I am using. I use Ubuntu Server 18.04 with just the things added your manual wanted me to do.
Googling hadn't helped how to find out what FBOS I am using. Could you maybe tell me how to find out?

The device is still on my desk, till it runs smoothly ( I have to rebuild the plants via the web app as

[2018-06-12 18:27] RickCarlino commented on #883
@derletztename FBOS = "FarmBot OS". Pardon my acronym usage. `6.4.3` is the latest version.

Do you know which version you are running? Have you had any indication that the device was able to connect yet?

[2018-06-12 18:47] derletztename commented on #883
I googled for quite some time to understand what FBOS might be :D
I have not yet connected the local server to the farmbot. Farmbot is still connected to your public server, so I can use it for watering and stuff. I don't wanted to make the move before the server is running properly.
I think, I should be able to drag and drop the plants onto the field without the farmbot is connected. Also the but

[2018-06-12 19:03] RickCarlino commented on #883
@derletztename It sounds like a browser rendering issue then. Please install Chrome and try again (it would help if we could see a screenshot).

[2018-06-12 19:14] derletztename commented on #883
Yeah, this is crazy. So when I use your server, edge is working perfectly fine. But on my local server with edge there are not button, but with chrome they are there...
I am using chrome for farmbot work from now on... just to be sure ;)

[2018-06-12 19:14] derletztename commented on #883
Thanks for the support

[2018-06-12 19:23] RickCarlino commented on #883
Glad you got it worked out, @derletztename !

Chrome is, unfortunately, our only supported browser at the moment so it is best to avoid Edge where possible.

[2018-06-12 19:23] #883 closed

[2018-08-10 03:27] etcipnja opened #955 "Sequences with wait(60000) can't be executed from the API"
# Expected Behavior
Sequence with wait(60000) command (or longer) can be executed from the API

# Actual Behavior
[code]
second line generates exception
[code]
# Steps to Reproduce
- create a sequence open watering, wait 60+ sec, stop watering
- run the script above - you get exception
- change the wait duration to 59s, run script - no exception

note: any sequence can be executed from the web pag

[2018-08-10 03:41] gabrielburnworth commented on #955
Just to clarify, you mean from a Farmware using the FarmBot OS Farmware API, right? [FarmBot/farmbot_os](https://github.com/FarmBot/farmbot_os/issues) might be the more relevant place for this issue.

[2018-08-10 13:27] etcipnja commented on #955
thank you, resubmitted there

[2018-08-10 13:27] #955 closed

[2018-09-08 05:27] samghotra opened #977 "Running Web-pack and mqtt-gateway in background without ssh connected to it"
# Expected Behavior
To have the web-app running after the ssh session has been closed.

# Actual Behavior
After the ssh session to the linux server is closed, the web app crashes with this error

*Webpack::Rails::Manifest::ManifestLoadError in Dashboard#front_page*

 \</head>
 \<body>
    <%= javascript_include_tag *webpack_asset_paths("front_page") %>
    \<%# Foo %>
 \</body>

Rails.root: /home/

[2018-09-08 12:55] RickCarlino commented on #977
SSH will close applications after you log out if you don't use a tool like `nohup`, `screen` or `tmux` or convert it to a service.

[This question on AskUbuntu](https://askubuntu.com/questions/8653/how-to-keep-processes-running-after-ending-ssh-session/222855#222855) offers numerous solutions.

[2018-09-08 12:55] #977 closed

[2018-10-21 17:35] derletztename opened #1019 "example.env when migrating to v7 issues"
First, you should not delete everything below line 64, then you will lose the database settings you need to migrate your database.

Second, what's supposed to go in here?
"username:password" are easy, but whats my "host_name" shall the number stay the same? And what's my database name?

`postgres://username:password@host_name:5432/database_name`

And third, it's a little too easy to just tell us y

[2018-10-22 11:08] derletztename commented on #1019
Sorry for my choice of words, I was a little aroused yesterday. The fear of losing my precious database and the worry of not being able to sort this out myself as the instructions are not explicit enough, was a little too much

[2018-10-23 14:39] RickCarlino commented on #1019
@derletztename You have a few options:

# Option 1: Stay on API v6, Don't Migrate

If you would rather not deal with data migration, you have the option to downgrade. This is the quickest solution.

 1. Pick a [release](https://github.com/FarmBot/Farmbot-Web-App/releases) that worked well for you in the past (v6.6.3 is the latest v7 version).
 2. [Revert to that tag](https://stackoverflow.com/ques

[2018-10-23 14:39] #1019 closed

[2018-10-23 20:31] derletztename commented on #1019
Thank you Rick for this far more detailed answer.
I think the last one is the most sustainable one. And in this new more explicitly explained way I might be able to manage it. There is just a little issue directly in the beginning. When I want to create the backup I get asked for a password. In your notes you have mentioned even that somehow. And while reading [here](https://edgeguides.rubyonrails

[2018-10-24 09:22] derletztename commented on #1019
I think I managed to change the password with the database.yml, as following your commands there appears the password several times in the list. But still when trying to make that backup when I get asked for the password, I get an error saying that it's wrong. I think I always have used the development environment not production..

derletztename@permabot_server:~/farmbot-web-app$ rails c
W, [2018-

[2018-10-24 19:37] derletztename commented on #1019
I'm really feeling stupid right now.
I deleted the line in the .env file and changed the password in the database.yml and it really has changed if I look with the rails console (rails c), but still I get this error below. Where else could this password been set or what else could be the issue? I mean it clearly looks like being a password issue, but maybe there is something else behind?

[code]

[2018-10-24 20:08] RickCarlino commented on #1019
@derletztename: Try resetting your PostgreSQL password.

Go in to PostgreSQL:

[code]

Then list all users:
[code]

Which will show something like this:

[code]

You can change your password with:

[code]

Please refer to StackOverflow and the official documentation for more information. Many of these operations are specific to Docker, PostgreSQL and Rails.

[2018-10-24 20:35] derletztename commented on #1019
That's had done the trick for me, now the passwort is set :)
`\password postgres`

[2018-10-25 15:38] RickCarlino commented on #1019
@derletztename The `backup` file is just SQL. Look for your points in there, you should see them if you backed up the correct database.

[2018-10-25 16:53] derletztename commented on #1019
Yeah, everything seems to be in there, it's several pages long and I recognised my sequences and stuff.

Could you please tell me how to get the infos out of there into the new database?

Just migrate again with this Snippet?:
`sudo docker-compose run web psql -d postgres://postgres:password123@db/farmbot_development < my_backup`

[2018-10-25 21:19] derletztename commented on #1019
So I tried to migrate it but I received a lot of errors. Here is a extract of the 3 blocks with errors.
Could you please help me integrate the old database in the new one? I have no idea what's wrong and I have spend some long hours with an friend with a lot coding experience who couldn't figure it out as well :(

[code]

[2018-10-27 21:15] derletztename commented on #1019
Also after each reboot the password in Rails.configuration.database_configuration is `nil`, maybe there is also something wrong with rights management settings?
I am so lost at this point, I would even pay you to SSH onto my server and sort things out in a few minutes

[2019-01-24 12:35] derletztename opened #1099 "Cannot update Web-App anymore"
# Expected Behavior
after

 the Web-App should update

# Actual Behavior
![update_notworking](https://user-images.githubusercontent.com/7712645/51678493-d64ac000-1fdc-11e9-85e5-ea76b1fcc102.jpg)

[2019-01-24 13:00] RickCarlino commented on #1099
@derletztename Can you try this in the meantime while I work on a fix?

[code]

[2019-01-24 14:36] derletztename commented on #1099
I have no idea what exactly happend there, but it seems to be updated now and everything is just working fine :)

[2019-01-24 14:43] derletztename commented on #1099
Actually it does seem I have not the newest version on the server. When I compare to https://forum.farmbot.org/t/december-19-2018-software-update/4352
it still looks like the old version. If I look into version (top right corner) it says none.
How can I check if I have the new version?

[2019-01-24 15:26] #1099 closed

[2019-01-24 18:33] derletztename commented on #1099
I don't have the feeling the update worked. Even after logging out the old screen appears:
![farmbot](https://user-images.githubusercontent.com/7712645/51700196-d2d02c80-200e-11e9-8211-b27a75543a3b.PNG)

[2019-01-24 18:36] derletztename commented on #1099
git log -1

[2019-01-24 19:22] RickCarlino commented on #1099
@derletztename I am suspicious you have a server process running in the background. Can you try this?:

[code]
Then
[code]

[2019-01-24 20:37] derletztename commented on #1099
Ok this is wierd. It looks like there were about 13 web apps running?
![img_20190124_212105](https://user-images.githubusercontent.com/7712645/51706888-12534480-2020-11e9-893e-c2855a68c27e.jpg)
When I want to shutdown the server, do I kill it with ctrl+c and that's it?
Or do I have to type docker-compose down afterwards as well?

[2019-01-24 20:38] derletztename commented on #1099
But after killing all those web app versions and starting a new one, it still was the old log in screen. So I have to close it again and update again? Can I update the regular way now, as you closed the issue?

[2019-01-24 22:00] RickCarlino commented on #1099
@derletztename Can you run `sudo docker-compose down` and then try accessing the web app from a browser? I think there still might be a process running somewhere, possibly a very old version of the app.

Is the page still accessible after running `sudo docker-compose down`?

[2019-01-25 15:20] RickCarlino commented on #1099
@derletztename What is your `RAILS_ENV` set to? If it's `production`, you might need to re-build the web app assets.

Try:

[code]

[2019-01-25 19:34] derletztename commented on #1099
yeah, it's production. So I tried what you suggested and got an error

![img_20190125_202957 1280x606](https://user-images.githubusercontent.com/7712645/51768299-36765a80-20e0-11e9-980e-e0887a5fc628.jpg)

[2019-01-25 21:58] RickCarlino commented on #1099
Whoops- that's an easy fix. I forgot that the `npm run build` task actually runs in the `web` container rather than the `webpack` container (it calls `bundler` which does not exist in the `webpack` container).

 Please try:

[code]

instead.

[2019-01-26 09:01] derletztename commented on #1099
You mean

?

[2019-01-26 16:07] RickCarlino commented on #1099
Correct. I've updated the original message. Please let me know if that fixed the issue.

[2019-01-26 19:09] derletztename commented on #1099
Started good, but then failed badly :(

![img_20190126_195734 976x1280](https://user-images.githubusercontent.com/7712645/51791614-393b8300-21a6-11e9-9d20-e5155d570802.jpg)

[2019-01-26 19:15] RickCarlino commented on #1099
I suspect there's an old version of `node-sass` in your `node_modules` directory.

Try:

[code]

[2019-01-26 22:55] RickCarlino commented on #1099
@derletztename It looks like this is a configuration or dependency issue with Webpack on our side. I will investigate the matter on Monday.

[2019-01-27 11:50] derletztename commented on #1099
Would you like to have a quick skype call (or hangouts or discord) to sort things out more quickly on monday maybe? You could even have access to the server. I guess this would save so much time :D

[2019-01-29 13:33] RickCarlino commented on #1099
@derletztename Still working on a fix for the issue you noted, I will keep you posted. This is related to some things in the build system, which have been long overdue for some updates.

[2019-01-29 19:07] derletztename commented on #1099
Okay, doesn't matter atm anyways. Someone stole the power cables out of my farmbot. I don't know what's going on in some peoples mind...

[2019-01-29 20:10] RickCarlino commented on #1099
@derletztename I'm sorry to hear that! I will keep you posted on the build system status in the meantime.

[2019-02-01 15:03] derletztename commented on #1099
I don't know much about Github yet, shouldn't we reopen this ticket for the workflow and tracking and stuff like that? Because of this update error you are making changes in the build system... aren't you?

[2019-02-01 15:20] RickCarlino commented on #1099
@derletztename I have already made a note of this on our internal tracker (where it _is_ an open item) and am able to keep track of the problem elsewhere. If you are curious about what I am working on, feel free to look at [this branch](https://github.com/RickCarlino/farmbot-web-app/tree/parcel)

 * I have isolated the cause.
 * As you read this message, I am actively working on a fix.

[2019-02-01 17:16] RickCarlino commented on #1099
@derletztename We tried that in the past but found that it was harder to keep track of issues, particularly issues that span across multiple git repos. These days we keep things centralized in an internal Trello board. That might change in the future, but for now, "open" and "closed" do not necessarily mean that we are/are not working on something.

A bit of background on the status of the fix: Th

[2019-02-05 09:09] HamishWHC commented on #1099
How's that fix coming along? I'm installing from scratch and getting the same errors from running 'sudo docker-compose run web npm run build'.

[2019-02-05 13:10] RickCarlino commented on #1099
@HamishWHC @derletztename Still a work in progress. It is stable now, at least. I need to [merge this pull request](https://github.com/FarmBot/Farmbot-Web-App/pull/1103) plus some minor cleanup, then a round of QA, then a final deploy.

[2019-03-30 13:10] nicmel opened #1136 "rake assets:precompile error"
# Expected Behavior

compilation OK

# Actual Behavior

compilation error at
docker-compose run web rake assets:precompile

-> when running no webpage joingable

[code]

# Steps to Reproduce

On a fresh new ubuntu server 18.10
following the master procedure:
I get some warnings with :docker-compose run web npm install

[code]
but I don't know if it's related, and after that I get the error with do

[2019-04-01 21:30] RickCarlino commented on #1136
@nicmel Confirmed. I have reproduced your error locally and am working on a fix.

[2019-04-04 16:36] RickCarlino commented on #1136
@nicmel The problem is fixed. We need to do some final QA checks before the release goes out though. Thanks for letting us know about this issue.

[2019-04-04 16:36] #1136 closed

[2019-04-05 20:35] RickCarlino commented on #1136
@nicmel QA is done and `v7.2.3` has been released. Please let me know if you have any issues with the latest version.

[2019-04-14 21:24] Br3nda opened #1152 "Production password resets don't work"
# Expected Behavior
I expected the password reset email to include a link that starts with `https://my.farmbot.io`
# Actual Behavior
the link in the email leads to `http://my.farmbot.io:443`, which the browsers interpret as http (no ssl) on port 443
# Steps to Reproduce
Reset your password on production follow the link in the email.
![image](https://user-images.githubusercontent.com/12266/56099381

[2019-04-15 02:25] tuananh2311 opened #1153 "Personal openfarm.cc instance"
Hi

For localisation purposes, I will have to create my own instance of openfarm.cc to localise the drop details.

I guess I would have to build my own version of the farmbot web app as well, is there a setting I can change to make it connect to my own openfarm.cc?

[2019-04-15 13:55] troymd commented on #1152
As a work around I took the link resulting URL that timed out :  "http://my.farmbot.io:443/password_reset/eyJh..." and I fixed it by making it look like this:

"https://my.farmbot.io/password_reset/eyJh...  "

(for not techie types, if your trying to follow my tracks,  the entire rest of the URL is included after the "...", I didn't touch that part)

[2019-04-15 17:11] RickCarlino commented on #1153
@tuananh2311 You bring up a good point, and it's something that we have not yet started.
I will keep this issue open for others who have a similar issue. Details to follow.

[2019-04-15 17:59] RickCarlino commented on #1152
@Br3nda Thanks for finding this. I will work on a fix today :+1: In the mean time, I think the fix that @troymd recommends will fix the issue for anyone affected by this (Thanks!).

[2019-04-15 21:35] Br3nda commented on #838
It's been nearly a year, could we have swagger generated docs in the meantime?

[2019-04-15 23:17] RickCarlino commented on #1152
Fixed on `staging`. There are a few things that still require final QA checks, but it will be deployed to production tomorrow or Wednesday.

[2019-04-15 23:17] #1152 closed

[2019-04-17 19:32] fredcwbr commented on #1153
Studying the issue myself., ... +1 on the need ...
Will follow this one closely.

Regards.

[2019-05-09 10:34] nicmel commented on #1136
I'm back, no time until today to look a it.
I'm trying it today
It works.

Thanks

[2019-05-09 10:44] nicmel commented on #1153
Hi,
in the need of a local instance too, I've created a workaround to use an http ip address:

from the web app folder:

`egrep -lRZ 'https://openfarm.cc'. | xargs -0 sed -i.bak -e 's/https:\/\/openfarm.cc/http:\/\/RYOU_IP_ADDRESS/'`

It's hardcoded but it works :o)
(An alternative would be to add a fake name  record entry)

_If someone can tell me how to make .env file entries available (or a doc

[2019-05-09 13:54] RickCarlino commented on #1153
@nicmel Glad you were able to make it work. As a side note, when you want to upgrade your versions of the FarmBot API, make sure you run `git stash` before the upgrade. You will need to run the `egrep ...` command again locally after the upgrade.

[2019-05-16 09:53] nicmel commented on #1153
@RickCarlino is there a good place to start  to learn how to use env variables within the web code? (typescript mostly)?

[2019-05-16 19:04] RickCarlino commented on #1153
@nicmel

That's a good question and it probably belongs in the developer docs as well.

The short answer is, `GlobalConfig.create!(key: "FOO", value: "BAR")` from within the Rails console.

The long answer is stated below. I'm happy to answer any additional questions you have. This document will be published into the [developer docs](https://developer.farm.bot/docs) to help other developers with t

[2019-05-21 17:24] avonwyss opened #1204 "Point metadata is broken when writing JSON objects"
# Expected Behavior
The metadata written comes back as JSON equivalent of the written data
-or-
The endpint rejects the data

# Actual Behavior
The data is modified and no longer valid JSON

# Steps to Reproduce
POST to /api/points:
[code]
# Results
[code]

[2019-05-21 20:23] RickCarlino commented on #1204
@avonwyss `point.meta` is an [hstore data type](https://www.postgresql.org/docs/9.1/hstore.html). From the PostgreSQL docs:

We provide the meta column for storage of small data such as tags and labels. We do not want this column to be used as a substitute for an external database, or for storing large datasets of third party applications, such as time series data. For this reason, the API does no

[2019-05-21 20:23] #1204 closed

[2019-05-21 23:27] avonwyss commented on #1204
@RickCarlino thank you for the details on the intentions of the `meta` data. I was aware that it is a hstore data type, but at the same time this is the only non-external suitable location I found for storing some data to be used between different farmwares.

That being said, I do understand your explanation but I still think that in this case the API should not accept the data if it is not just a

[2019-05-22 16:57] avonwyss commented on #1204
Yes, 422 seems to be a sensible response in that case.

Looking forward to FBOS v8 and the FarmwareEnvs! :)

[2019-05-23 06:28] tuananh2311 commented on #1153
Hi

I run your command on the web app folder (after putting in my openfarm IP Address) and then restarted the app.

I tried to search for a crop I curated on my openfarm instance but nothing returned. The links to create new crop are all updated and working though.

`egrep -lRZ 'https://openfarm.cc'. | xargs -0 sed -i.bak -e 's/https:\/\/openfarm.cc/http:\/\/IP:PORT/'`

[2019-05-24 16:35] nicmel commented on #1153
Did you try to create a new crop and check if it's created?
Search the code for any https://openfarm.cc still left (not on the .bak files of course)

[2019-07-02 07:54] tuananh2311 opened #1256 "Websocket connection error"
# Expected Behavior
Able to connect to websocket port 3002
# Actual Behavior
Errors display in browser console, web app cannot connect to Message Broker

`WebSocket connection to 'wss://DOMAIN_NAME:3002/ws' failed: Error in connection establishment: net::ERR_SSL_PROTOCOL_ERROR`

# Steps to Reproduce
Run the webapp and observe the console log

Hi,
I am setting up the web app on AWS, it is running f

[2019-07-02 08:19] tuananh2311 commented on #1153
Thanks for the suggestion, I got it working.

[2019-07-02 08:19] #1153 closed

[2019-07-02 14:39] RickCarlino commented on #1256
@tuananh2311 It looks like the server is trying to use SSL but it is either not configured, or configured improperly. Does the website use HTTPS? Did you correctly configure the certificate if so?

[2019-07-02 17:29] tuananh2311 commented on #1256
I got a free cert from Let's Encrypt following this tutorial. Is there some additional config I need to do for websocket?

https://www.digitalocean.com/community/tutorials/how-to-secure-nginx-with-let-s-encrypt-on-ubuntu-18-04

[2019-07-02 17:32] tuananh2311 commented on #1256
My nginx config

[code]

[2019-07-02 18:15] RickCarlino commented on #1256
@tuananh2311 Our production servers use Heroku and CloudAMQP, which has a very different SSL configuration than your server.

My guess is that RabbitMQ needs to be configured to handle SSL. To do that, you will need to modify `RmqConfigWriter::TEMPLATE` found [here](https://github.com/FarmBot/Farmbot-Web-App/blob/staging/app/lib/rmq_config_writer.rb#L28-L44). I would guess that RabbitMQ requires s

[2019-07-02 18:16] RickCarlino commented on #1256
I just found [this](https://www.rabbitmq.com/web-mqtt.html#tls) in the RabbitMQ documentation. It may be of use to you in this situation.

[2019-07-02 18:43] tuananh2311 commented on #1256
Thanks Rick, will give it a try.

[2019-07-07 19:56] RickCarlino commented on #1256
This issue has not had activity in the last 5 days. I am going to close the issue since this is out of scope for typical support requests. Members of the community are free to continue the discussion, however.

[2019-07-07 19:56] #1256 closed

[2019-07-15 15:05] RickCarlino opened #1272 "revert firmware flash alert system"
- [X] Set column default for firmware_hardware to nil
 - [X] Remove alerts from FBJS
 - [x] Create "local alerts" on FE (reactively detect problems based on state tree).
 - [x] Create local alert if firmware_hardware is nil (flash firmware)

[2019-07-15 21:27] RickCarlino opened #1273 "Debounce MQTT rate limiter emails to once per day."
It is possible for devices with malfunctioning Farmwares to be spammed with rate limit reminder emails. Adding an `mqtt_rate_limit_email_sent_at` field to the `devices` table could fix that.

[2019-07-15 22:10] #1272 closed

[2019-07-15 22:12] RickCarlino opened #1276 "Fix Send Message toast colors for `Warning`, `Busy` toasts."
Warnings should be orange, and Busy ones should be yellow

[2019-07-16 13:01] #1273 closed

[2019-07-16 13:13] RickCarlino opened #1279 "Frontend shouldn't crash on bad words"
https://github.com/FarmBot/Farmbot-Web-App/blob/b7f09e51e856bfca5cfedd7fef3c572bebdbe809/frontend/devices/actions.ts#L45

Changing this from `throw` to `false` and leaving a console log should solve this

[2019-07-16 13:39] #1276 closed

[2019-07-16 15:32] #1279 closed

[2019-07-17 15:34] RickCarlino opened #1283 "FarmEvent / Regimen timestamps not always updating."
# Expected Behavior

`updated_at` updates after chaning a farmevent / regimen variable.

# Actual Behavior

Does not update, even though `body` content has changed.

# Steps to Reproduce
 * Create a farmevent
 * Change the variable selection
 * examine `created_at` field. Does not change but should.

[2019-07-17 16:28] #1283 closed

[2019-07-17 20:36] RickCarlino opened #1287 "Migrate Paperclip to ActiveStorage"
Paperclip is now deprecated.

The migration guide is available [here](https://github.com/thoughtbot/paperclip/blob/master/MIGRATING.md).

# TODO:

 - [x] Install `ActiveStorage`
 - [x] Store images to ActiveStorage via local filesystem
 - [X] Store images to ActiveStorage via GCS
 - [X] Deprecate old image uploader.

# Questions

 * How will this affect [legacy] FBOS image uploads?
 * How will we

[2019-07-17 20:51] roryaronson opened #1288 ""1 days old" should be "1 day old""
# Expected Behavior
When you add a plant, and its age is 1 day old, it should be written as "1 day old" both in the plants list and in the plant details panel.

# Actual Behavior
It is written as "1 days old".

# Steps to Reproduce
Add a plant to the map and look at its age.

[2019-07-17 20:56] roryaronson opened #1289 "Adjust text color of Warning and Info toasts"
Both the title and body texts of Warning (orange) and Info (blue) toasts should be dark gray to improve consistency and legibility.
<img width="469" alt="Screen Shot 2019-07-17 at 1 52 47 PM" src="https://user-images.githubusercontent.com/5524043/61411097-6b4ab980-a89a-11e9-9056-10f189d9552b.png">

[2019-07-17 21:01] roryaronson opened #1290 "Dropdown search results should support plurals"
# Expected Behavior
When typing in "Plants" to the dropdown search in a **LOCATION** dropdown, everything in the `-- Plants` heading should show up, just the same as when typing in "Plant".

# Actual Behavior
As soon as you pluralize the search term, there are no matching results. Also affects "Tools" and "Points" search terms.

[2019-07-17 21:16] roryaronson opened #1291 "Use custom gear icon for farm designer settings panel"
Asset: [settings-icon-lg.svg.zip](https://github.com/FarmBot/Farmbot-Web-App/files/3403866/settings-icon-lg.svg.zip)

And give the settings nav menu item equal space compared to the other menu items.

[2019-07-17 21:17] roryaronson opened #1292 "Switch farm designer panel to new icon-based nav"

[2019-07-17 21:34] roryaronson opened #1293 "Plants should only be moveable if the click+drag action is initiated on the icon"
# Expected Behavior

1. Select a plant
2. Click+drag somewhere in the map that is _not_ the selected plant icon
3. The plant should become deselected and a box-selection should begin

# Actual Behavior

1. Select a plant
2. Click+drag somewhere in the map that is _not_ the selected plant icon
3. The plant gets moved

[2019-07-19 17:45] gabrielburnworth opened #1294 "API not sending Sequence sync messages"
# To reproduce
Create or edit a sequence and press save.

# Expected
`/sync/Sequence/#` message sent over the broker.

# Received
`sync` messages are only sent when deleting sequences.

# Relevant code
https://github.com/FarmBot/Farmbot-Web-App/blob/d2eb75c68b8686acd62af810aae9d76cc9e5c489/app/models/sequence.rb#L60-L62
https://github.com/FarmBot/Farmbot-Web-App/blob/7e6568d22d9c3996755b36c6e399a6

[2019-07-20 18:34] #1294 closed

[2019-07-20 18:37] RickCarlino commented on #1288
A few notes for when we get to this one:

 * We will need to use [i18next's pluralization features](https://www.i18next.com/translation-function/plurals) for this one.
 * We will also need to add updates for users contributing translations of languages with complex pluralization rules.

[2019-07-22 20:16] roryaronson opened #1298 "Add/fix(?) mobile nav menu slide out animation"
# Expected Behavior
When closing the mobile nav menu, the menu should slide closed as the background fades back in.

# Actual Behavior
When closing the mobile nav menu, the background fades back in and then the menu just disappears.

[2019-07-22 20:17] roryaronson opened #1299 "Improve message center card formatting"
- [ ] Improve the display of long message titles:

![Screenshot_20190703-140842](https://user-images.githubusercontent.com/5524043/61662284-f7862380-ac82-11e9-80d9-4138966d4762.png)

- [ ] Contain embedded objects within the card to prevent overflow:

![Screenshot_20190917-084526](https://user-images.githubusercontent.com/5524043/65057711-ddd22700-d927-11e9-9a8f-cfb01abb71e4.png)

[2019-07-22 20:18] roryaronson opened #1300 "De-italicize _Synced_ (when autosync is enabled)"
I think it will look better for the two main states to be: "Synced" (where the normal text is firm and static feeling) and "_Syncing..._" (where the italicized text feels more dynamic)

[2019-07-22 20:19] roryaronson opened #1301 "Dropdowns and Input fields should be consistently styled throughout the app"
- [ ] Color of text should be #434343
- [ ] Padding and overall height should be consistent at 30px
- [ ] Text should be vertically aligned in the field

Example of inconsistent fields:
<img width="893" alt="Screen_Shot_2019-07-03_at_11 41 26_PM" src="https://user-images.githubusercontent.com/5524043/61662420-4338cd00-ac83-11e9-84d9-2893c52c3453.png">

[2019-07-22 20:20] roryaronson opened #1302 "Delete peripherals, delete webcams, and delete sensors buttons should be fa-times"
To match the delete slot, delete tool, and delete pin binding buttons.

Note: docs will need updating as well

[2019-07-22 20:20] roryaronson opened #1303 "Tooltips in [+] dropdowns are being cutoff"
<img width="447" alt="Screen_Shot_2019-07-09_at_12 05 18_AM" src="https://user-images.githubusercontent.com/5524043/61662566-85faa500-ac83-11e9-991a-ecf373d25ba4.png">

[2019-07-22 20:27] roryaronson opened #1304 "Slider controls for analog peripherals"
When the user is actively sliding the control, the FE could send updates to the bot at a fast rate (5hz?) so that the feedback to the user is immediate (eg: when adjusting light level)

[2019-07-22 20:28] roryaronson opened #1305 "Automatically delete inactive accounts"
# Why?

 * Minimizes the impact of a data breach.
 * Saves system resources.
 * As of February 2019, 50% of users have not used their accounts in > 15 months.

# How?

* If no bot has ever been connected to the account, initiate the account deletion flow after 3 months of inactivity.
* If a bot has been connected, initiate the account deletion flow after 11 months of inactivity.

### Account delet

[2019-07-22 20:30] roryaronson opened #1306 "Toast throttling"
Even when logs get throttled, toasts can still come through at a super fast rate. It would be nice if they got stopped in the FE like how the logs do.

It might also be good to have another protection in place: something like no more than 10 toasts in 10 seconds, considering they go off the screen beyond that anyways and could bog down the FE on mobile devices/block out the e-stop button and other

[2019-07-22 20:32] roryaronson opened #1307 "Replace the No Executables panel with a warning icon and tooltip"
Instead of having the No Executables panel, direct users to the normal Add Event panel. Because there will be no executables available, add a :warning:  icon next to the **SEQUENCE OR REGIMEN** label with a tooltip that says "You haven't made any sequences or regimens yet. To add an event, first create a sequence or regimen."

[2019-07-22 20:41] roryaronson opened #1308 "Feature highlight via URL"
Shopify has this great way of being able to call attention to a feature in their app via the URL. It gets activated when there exists a query string of the format `?tutorial=feature-name` in the URL, and then the background of the corresponding feature gets highlighted in yellow and then fades away.

It'd be neat to be able to do something similar in our app so that we could provide people with be

[2019-07-22 20:45] roryaronson opened #1309 "Email channel granularity (digest vs immediate send)"
Different options in the `Send Message` sequence step to `Send Email` and `Add to Email Digest`. The email digest could be configured in user settings to send daily or weekly, while anything marked `Send Email` would be sent right away.

The digest would allow the user to keep tabs on their bot at a higher level without having to login to the app all the time. The immediate emails would be for mor

[2019-07-22 20:49] roryaronson opened #1310 "Show user companion plants on the crop-details panel (info pulled from OpenFarm)"
I think we should use a similar UI to what is on OpenFarm. See an example here: https://openfarm.cc/en/crops/kale/

<img width="421" alt="Screen_Shot_2017-04-24_at_4 07 59_PM" src="https://user-images.githubusercontent.com/5524043/61664381-8006c300-ac87-11e9-95cf-ab11782b18d8.png">

[2019-07-22 20:55] roryaronson opened #1311 "Farm Designer Tooltips/Popups"
Add functionality to the Farm Designer by making the map and objects on the map more interactive via actionable tooltips that pop up upon click. Will also increase speed at which user can make changes because common controls/actions will require less mouse travel.

- [ ] Clicking the FarmBot: Shows current coordinates and device-level commands.
- [ ] Clicking an empty location: Shows coordinates a

[2019-07-22 20:56] roryaronson opened #1312 "Add a reasonable limit to WAIT commands"
1 minute? 3 minutes?

Users could always work-around this by adding multiple WAITs

[2019-07-22 23:18] roryaronson opened #1313 "Tools panel"
Add a new panel to the farm designer page for _Tools_, which replaces the functionality of the existing Tools Page. Users can add Slots, Tools, and Seed Containers from the scrollable menu, and edit the coordinates/names/etc from the edit panels.

Advantages:
- Makes more of the user experience visual (intuitive) and more tightly integrated with the map (eventual goal is that most interaction is v

[2019-07-22 23:24] roryaronson opened #1314 "Points panel"
An panel in the farm designer for creating/managing points

![Points Panel (1)](https://user-images.githubusercontent.com/5524043/61671587-2b6e4280-ac9d-11e9-8513-62928cf1c48c.jpg)

[2019-07-22 23:29] roryaronson opened #1315 "Weeds panel"
Farm designer panel for viewing/managing weeds.

![Weeds panel](https://user-images.githubusercontent.com/5524043/61671780-edbde980-ac9d-11e9-9944-38afc2f01e3c.jpg)

[2019-07-22 23:34] roryaronson opened #1316 "Zones panel"
Farm designer panel and map functionality for creating/viewing/editing zones.

![Zones Panel](https://user-images.githubusercontent.com/5524043/61671933-86ed0000-ac9e-11e9-9259-48f8cda9201d.jpg)

[2019-07-22 23:42] roryaronson opened #1317 "Quickswitcher"
This feature is inspired by Slack's Ctrl+K quick switcher. Could start out with just app targets (pages, sequences, settings, etc), and would be especially useful in combination with https://github.com/FarmBot/Farmbot-Web-App/issues/1308. Would be neat to expand to docs and the shop one day :tm:

Interesting reading on [Slack's implementation](https://slack.engineering/a-faster-smarter-quick-switc

[2019-07-22 23:48] roryaronson opened #1318 "Add latency metric to connectivity popup"

[2019-07-22 23:58] roryaronson opened #1319 "Companion/Antagonist Crop Indicators"
Similar to how the Overlap Indicators work, but based on the companion crop relationships from OpenFarm (see also https://github.com/FarmBot/Farmbot-Web-App/issues/1310). Eventually the UI could show antagonist relationships as well.

![Companion_and_Antagonist_Crop_Indicators](https://user-images.githubusercontent.com/5524043/61672815-f3b5c980-aca1-11e9-9c3a-992da03f034b.jpg)

[2019-07-23 00:04] roryaronson opened #1320 "Disable resource delete buttons when resource is in-use"
Like the delete buttons for tools and seed containers (when they are in a slot)

Delete buttons to make work like this:
  - Delete sequence
  - Delete regimen
  - Delete tool slot
  - Delete plant
  - Delete point
  - Delete peripheral
  - Delete sensor
  - Delete farmware(?)

[2019-07-23 00:09] roryaronson opened #1321 "Read-only mode (account setting)"
Turning this setting on would be a way for an administrator of a FarmBot (in a school, for example) to prevent other people from changing things around and accidentally messing things up.

[2019-07-23 00:12] roryaronson opened #1322 "Rework log limits"
Currently we're only storing 1,000 logs max across all verbosity levels. If a user logs in after a few days or a week, and their app is set to view only level 1 logs, they likely will see no logs at all, or very few, because the 1,000 limit will have been reached by higher verbosity logs and pushed out all or most of the level 1 stuff.

This results in an alarming situation at first, as it appears

[2019-07-23 00:20] roryaronson opened #1323 "Prevent users from trying to control a Box LED with analog control"

[2019-07-23 00:21] roryaronson opened #1324 "Investigate Progressive Web App features"
Could be a way to make our web app feel more like a native app, and improve performance.

https://developers.google.com/web/progressive-web-apps/
https://developers.google.com/web/fundamentals/app-install-banners/

[2019-07-23 02:06] roryaronson opened #1325 "Remove SAVE button from Hardware Widget"
It isn't required anymore because all settings in that widget auto-save

[2019-07-23 02:13] roryaronson opened #1326 "Make device name field auto-save, and remove the Device widget Save button"
The only setting in the Device widget that doesn't auto-save is the **NAME** field. Making it auto-save would allow us to remove the widget header SAVE button and make the experience of adjusting settings in that widget more consistent and streamlined for the user.

[2019-07-23 23:48] roryaronson opened #1328 "Make '+ STOCK` buttons work based on FarmBot model"
Depending on the FarmBot model chosen, the `+ STOCK` and RESET HARDWARE PARAMETER DEFAULTS buttons should reset defaults to appropriate values for that model. Maybe use the seeding feature under the hood?

If no bot model or "Custom bot" was chosen, the `+ STOCK` buttons should be hidden. Applies to the Peripherals, Sensors, Pin Bindings, and Tools/Seed Containers widgets.

If no bot model or "Cus

[2019-07-23 23:50] roryaronson opened #1329 "RESET HARDWARE PARAMETER DEFAULTS should be based on FarmBot model"
Depending on the FarmBot model chosen, the `RESET HARDWARE PARAMETER DEFAULTS` button should reset defaults to appropriate values for that model. Maybe use the seeding feature under the hood?

If no model or "Custom bot" was chosen, reset to app defaults.

[2019-07-24 03:18] roryaronson opened #1330 "Groups"
Ability to define Groups of plants with criteria and/or manual selection, and then being able to use the Groups in Sequences/Variables.

Mockup shows some various design ideas and possible criteria, as well as suggested changes to the select plants mode to accommodate creating groups via box selection.

[Groups Mockup.pdf](https://github.com/FarmBot/Farmbot-Web-App/files/3424860/Groups.pdf)

### B

[2019-07-24 04:02] roryaronson opened #1332 "Farmware Parameter Presets"
Ability to use developer-created and user-created "Parameter Presets" when executing farmware.

[Farmware Parameter Presets Mockup.pdf](https://github.com/FarmBot/Farmbot-Web-App/files/3424972/Farmware.Parameter.Presets.pdf)

[2019-07-24 04:05] roryaronson opened #1333 "Update/improve keyboard shortcuts"
Shopify has a really slick implementation where you don't need to use any key modifiers such as `shift` or `ctrl`, and their system isn't limited to single character shortcuts. It allows for many more shortcuts to be created without having to choose random combos of modifiers and individual keys that don't really correspond to the target location. It works from any page as long as you're not focus

[2019-07-24 14:32] RickCarlino opened #1334 "Need better 422 errors for PG::ProgramLimitExceeded"
# Why?

Some Farmwares are using the `points.meta` field beyond their size limit. This leads to a `PG::ProgramLimitExceeded` error at runtime, which goes uncaught.

# What Needs to Change

The API controller should `rescue_from(PG::ProgramLimitExceeded)` with a descriptive error message.

[2019-07-24 17:13] roryaronson opened #1335 "Add variable button"
Add an `Add Variable` button to the sequence header, which will add a new variable form to the header with a default name and value, probably "Location Variable [number]" and "Choose location(s)".

With this addition, variable form(s) should be left-justified in the header, and horizontal overflow should scroll when there are more variables than the screen can handle.

![Mockup](https://user-image

[2019-07-24 17:18] roryaronson opened #1336 "Delete variable button"
Add a `Delete Variable` button (trash can icon) 🗑  to variable forms in sequence headers.

If the variable is being used in any sequence steps, clicking the delete button should present a browser confirmation: "This variable is currently being used in 7 steps. Deleting it will result in fields being reset to "Choose location(s)". Continue?"

![Mockup](https://user-images.githubusercontent.com/5524

[2019-07-24 17:27] roryaronson opened #1337 "Multi-variable support"
Allows the use of more than one variable in sequences, regimens, and events.

[Multi-variable mockup.pdf](https://github.com/FarmBot/Farmbot-Web-App/files/3428055/Seqeunce.Header.with.Multiple.Variables.pdf)

- [ ] [Ability to add multiple variables to the sequence header](https://github.com/FarmBot/Farmbot-Web-App/issues/1335)
- [ ] [Ability to delete variables from the sequence header](https://g

[2019-07-28 19:05] RickCarlino commented on #1321
Initial implementation:

 * Add a `user_interface_read_only`<boolean> flag to `WebAppConfig`
 * Add toggle button to web app settings page
 * Add logic to `edit()` and `delete()` and `create()` action creators.

[2019-07-28 21:32] RickCarlino commented on #1334
Fixed in #1341

[2019-07-28 21:32] #1334 closed

[2019-07-28 22:53] RickCarlino commented on #1312
See #1342  #1342

[2019-07-28 22:55] #1312 closed

[2019-07-29 19:12] gabrielburnworth opened #1345 "Support deletion of singular logs"
# To reproduce
`DELETE /api/logs/1234`

# Relevant code
https://github.com/FarmBot/Farmbot-Web-App/blob/6ceb9b563fc7635883eb6561e83fc350269cc554/app/controllers/api/logs_controller.rb#L31-L33

[code]

Only `DELETE /api/logs/all` should delete all logs.

[2019-07-29 20:34] gabrielburnworth opened #1360 "[ImageUploader] Images larger than ~3MB fail to upload"
# Error
v7:
[code]
v8:
[code]

[2019-07-31 18:56] roryaronson opened #1347 "API: "Selecting `all tools` as a location causes CeleryScript::TypeError""
[code]

[2019-07-31 21:13] RickCarlino commented on #1347
The feature as it is currently implmented behind a feature flag, will probably never work and will require re-implementation after the v8 post-RC launch. Rather than a bug, this is an unimplemented feature that will never be implemented in its current form.

[2019-07-31 21:13] #1347 closed

[2019-08-02 18:17] roryaronson opened #1350 "Folder structure for sequence and regimen lists"
![Sequence_Regimen Folders](https://user-images.githubusercontent.com/5524043/62390062-3a16ee00-b516-11e9-889b-11c9fdf493be.jpg)

Some other technicals:

- Search function should also search folder names
- Folders without any matching items should not be shown in search results
- When searching, folders should be opened to display the matching items
- Folder open/closed state should be reset upon

[2019-08-04 16:26] #1321 closed

[2019-08-04 16:57] RickCarlino commented on #1330
Ideas: Name criteria based groups "dynamic groups" and call the other kind just "group" or "standard group".

Backend TODO items for this one:

 - [ ] Create `/api/point_groups` endpoint.
 - [ ] Create `/api/point_group_item` endpoint
 - [ ] Add bulk endpoint for `PointGroupItem::Create`.

Schema (pseudocode):

[code]

[2019-08-05 21:36] RickCarlino opened #1352 "Auto Sync Messages Trigger Error in Read-Only Mode"
# Expected Behavior

 * Frontend should silently update data in the background (example: FBOS modifying `Point` resource via `mark_as`).

# Actual Behavior

 * Toast pops up telling the user they can't modify data in read-only mode.

# Steps to Reproduce

 * Open app in read-only mode
 * Modify a resource outside of the frontend (`rails c` or direct API access).
 * Observe unexpected error `toast`

[2019-08-06 13:33] RickCarlino commented on #1330
![image](https://user-images.githubusercontent.com/1388608/62544064-b6664580-b824-11e9-8039-c74561f5a383.png)
For reference, I am copying an image version of the mockup in the PDF.

[2019-08-06 17:28] RickCarlino commented on #1330
![image](https://user-images.githubusercontent.com/1388608/62561891-b62a7200-b845-11e9-92cf-fa70e0aa9f53.png)

[2019-08-06 22:22] amerkay opened #1354 "GET api/logs/search not working as expected"
Continuing [discussion about /api/logs/search](https://github.com/RickCarlino/farmbot-web-app/commit/1eb2f5b96ad8b9f9cbd1b1280b944616f83c3b2c#r34592500).

## Expected Behavior
`GET api/logs/search?z=-334&y=662` should return filtered results (try just z=-334, too).

## Actual Behavior
I get about 700 results (not matching YZ) for the below code, while `app.get('logs')` returns 1000 as expected.

I

[2019-08-07 15:32] RickCarlino commented on #1354
@amerkay As it turns out, we removed log filtering a while back (the app was using the `WebAppConfig` table to define search criteria). Since you have a need for the feature, I added it back to the app and did a hotfix deploy this morning. Details are available [here](https://github.com/FarmBot/Farmbot-Web-App/pull/1356). It currently supports equality, but not GT/LT operations.

I don't know if y

[2019-08-07 19:34] amerkay commented on #1354
Thanks, I'll give it a try! I've been playing around with your stack, great work you guys!

I got started with OS v7.0.1, a couple of weeks ago since it looked like v8-rc is still in the refactoring phase. It does look like the next update brings in many new features, exciting!

I am familiarizing myself with Farmwares, next is OpenCV and Tensorflow as my goal is to learn and contribute a CNN to f

[2019-08-07 20:26] RickCarlino commented on #1354
@amerkay Thanks! You are correct, v8 still needs more QA. What time zone are you in? I'm in Chicago and work typical 9-5 hours. Please email me some times that work for you. Google hangouts is preferred. Email is my first name at farmbot.io . I look forward to speaking with you.

[2019-08-07 20:26] #1354 closed

[2019-08-08 16:59] gabrielburnworth commented on #1360
Uncommenting `plug(Tesla.Middleware.Logger)` may help debug this issue, as the error occurs between FarmBot OS and GCS.

[2019-08-09 20:13] gabrielburnworth opened #1362 "EXIT sequence step"
A sequence command to end (stop/abort) the sequence at the current point.

Some possible options or extensions:
 * exit recursively: Also exit all parent sequences. Would allow use in an IF statement.
 * exit with or without error: Similar to `0` or `1` exit codes or error raise. Sequences errors cause E-STOPs.
 * exit with message: This step might often be preceded by a SEND MESSAGE step.
 * paus

[2019-08-09 20:41] gabrielburnworth opened #1363 "SensorReadings should allow upload of time created"
The creation time of a sensor reading is currently set to when the record is added to the API rather than when the reading was taken. Logs are an example of a resource that allows timestamp attachment; this provides a more accurate time value when the record is uploaded some time after it has been created in FarmBot OS.

# Relevant code
https://github.com/FarmBot/Farmbot-Web-App/blob/staging/app/m

[2019-08-09 20:53] amerkay opened #1364 "Finding home fails"
# Expected Behavior
Find home to go back to 0,0,0 and error correcting minor slips during operation.

# Actual Behavior
1 out of 10 times, it fails. It just sets x-axis at home when it's actually at x=1000 (!=0). Now it's doing everything at an offset, and not doing what it should.

# Steps to Reproduce
Maybe it's my shitty woodwork with the garden bed. Just regular run time, 1/10 times.

# Result

[2019-08-11 10:56] AscendFB commented on #1364
Your X-axis stalls which causes the encoder to assume that the end is reached. Check your mechanics and moving behavior at those positions where the issue occurs.

How is the bot supposed to know if the homing was truly successful? It just can't detect if it is really at the end. So I don't see a possible software fix.
-> The only way to check that properly is by adding a position switch at each h

[2019-08-11 20:32] amerkay commented on #1364
Thanks for the reply.

The way I see it is, if I stop using the "Find Home" in my sequences, I have no problem, as the regular retry mechanism fixes a failed move by retrying (I have it at 7 for z-axis, but 3 default works fine too, just need to grease my z-axis screw with something other than olive oil).

That's why I suggested only enabling this check if we are in a sequence (not manual, calibra

[2019-08-11 23:28] amerkay commented on #1364
I put together this sequence. It should accomplish the same result. Be at 0,0,0 before trying to home, during normal usage within a sequence. I'll try it over the next few days.

[Imgur](http://i.imgur.com/YClB29x.png)

[2019-08-12 08:01] AscendFB commented on #1364
I've been using this for many months now and its working great so far.

Now I got it. But having simple retries would probably not be enough. I'd rather like the bot to move to a preposition right before home just as you did in your sequence. If the motor stalls on the way to that position we will get an error message (maybe after a few retries).

[2019-08-12 08:37] amerkay commented on #1364
This leads us to, how to we get to [this](http://i.imgur.com/cSsHw9B.png)? I did some inspect html cutting and pasting to visualize.

Do you know where to find the code for the "Find home" sequence block?

[2019-08-12 13:13] RickCarlino commented on #1364
@amerkay It's in FarmBot OS [here](https://github.com/FarmBot/farmbot_os/blob/8dbeb65c69faa46e7f6c0cc8741de92f96391315/farmbot_os/lib/farmbot_os/sys_calls.ex#L441-L451). Like most programming environments, the way that FarmBot OS converts CeleryScript nodes to executable code is somewhat complex. We might have time to do a write up if you are curious.

[2019-08-12 21:18] amerkay commented on #1364
Thanks @RickCarlino! Maybe when we try figuring out the wifi RTL8188 drivers, we can add some beta code to the branch.

For now, the sequence seems to have done the trick. But it seems like a bug during normal operation, that's why I reported.

[2019-08-14 15:56] RickCarlino opened #1368 "Make an API resource for first party farmware."

[2019-08-14 19:31] #1368 closed

[2019-08-20 01:39] roryaronson opened #1370 "Some dropdown category labels are not showing"
# Expected Behavior
Dropdown category labels should be correct (they are fine on production, not on staging version C6C4C1B0)

# Actual Behavior
<img width="680" alt="Screen Shot 2019-08-19 at 6 24 48 PM" src="https://user-images.githubusercontent.com/5524043/63310643-6372a080-c2b0-11e9-9af5-2870a98229da.png">
<img width="461" alt="Screen Shot 2019-08-19 at 6 24 27 PM" src="https://user-images.git

[2019-08-20 01:42] roryaronson opened #1371 "/saved_gardens should just be /gardens"
For cleaner URLs sake

[2019-08-20 01:49] roryaronson opened #1372 "Improve the plant hover highlight in map"
# Expected Behavior
When hovering over a plant in the plant list panel, I expect to be able to quickly and easily see the corresponding icon in the map.

# Actual Behavior
When hovering over a plant in the plant list panel, the corresponding icon in the map is instantly enlarged by maybe 30%. However, my eye doesn't often see this instant change because it is focused on where the cursor is, so I o

[2019-08-20 01:54] roryaronson opened #1373 "Add `esc` hotkey for farm designer panel back buttons"
# Expected Behavior
When you're on the plant-details, crop-search, crop-details, add-event, move-mode, or box-select panels, pressing the `esc` key should be the same as pressing that panel's back arrow button.

[2019-08-20 02:13] roryaronson opened #1374 "All help texts should only open on click"
The help texts for widgets, sequence steps, the three main columns of the sequences page, etc all have a tendency to get opened up accidentally on me because I accidentally put my mouse cursor over them or pass over their activation zone slow enough. I find this annoying, and think the app would be less annoying and equally helpful if all of the help texts only opened on click, instead of also on

[2019-08-20 05:42] roryaronson opened #1375 "Test Command + Diagnostic Center"
Add a `TEST` command allowing the sequence builder to function as a test-making tool, and the CSVM as the test runner.

[Mockup.pdf](https://github.com/FarmBot/Farmbot-Web-App/files/3518794/Test.Command.%2B.Diagnostic.Center.pdf)

### Use cases/needs
* Automate much of the process of testing FBOS and firmware release candidates
* Automate long-term, high-cycle hardware testing
* Diagnostic tooling

[2019-08-20 05:52] roryaronson opened #1376 "Display MOVE TO More [+] dropdown in open state upon sequence load if SPEED is any value other than 100"
# Expected Behavior
The More [+] dropdown in MOVE TO commands should load in an open state when any offsets are non-zero OR when speed is any value other than 100.

# Actual Behavior
It opens in an open state for non-zero offsets, but not if all offsets are zero and speed is something other than 100.

# Steps to Reproduce
Make a sequence with a MOVE TO command. Open up the More [+] dropdown and ch

[2019-08-20 06:42] roryaronson opened #1377 "Compact the IF Statement command"
Currently IF commands take up a significant amount of vertical space in the sequence editor, and the full-width dropdowns for the branching sequences do not look very good. I propose making the following changes:
* Putting the branching sequences into two columns
* Removing the "_IF..._", "_THEN..._", and "_ELSE..._" headings, and putting some of that verbiage into the dropdown labels
* Changing t

[2019-08-20 06:57] roryaronson opened #1378 "Compact the MOVE TO command"
Move the `More [+]` dropdown text from below the location input to the right of it. Also remove the **LOCATION** label because it is redundant with the default dropdown value, and any value chosen after that will obviously be a location. These changes make the step take up less vertical space in the editor. Also suggest changing the `More [+]` verbiage to `Options [+]`.

Proposed layout on top, cu

[2019-08-20 07:04] roryaronson opened #1379 "Compact the EXECUTE command"
Suggest removing the **SEQUENCE** label, reducing the dropdown width to 50% on desktop, and changing the default value from "None" to "Select a sequence"
<img width="660" alt="Screen Shot 2019-08-20 at 12 01 48 AM" src="https://user-images.githubusercontent.com/5524043/63324977-0ee61a00-c2de-11e9-841f-44503119b851.png">

[2019-08-20 07:05] roryaronson opened #1380 "Compact the RUN FARMWARE command"
Suggest removing the **PACKAGE NAME** label, reducing the dropdown width to 50% on desktop, and changing the default value to "Select a farmware"
<img width="663" alt="Screen Shot 2019-08-20 at 12 01 52 AM" src="https://user-images.githubusercontent.com/5524043/63325045-35a45080-c2de-11e9-8915-1e393e2ed3f9.png">

[2019-08-21 21:38] RickCarlino opened #1382 "Upgrade to Rails v6"
Rails 6 is out. A quick glance makes it seem the upgrade will not be trivial.

[2019-08-22 06:50] roryaronson opened #1384 "Improve mobile page header styling"
# Expected Behavior
The headers on the following pages should be visually distinct from page content when using mobile:
- Sequences
  - Edit sequence
  - Add command
- Regimens
  - Edit regimen
  - Add regimen item
- Farmware
  - Farmware details
  - Farmware info

### Example of good visual distinction
<img width="251" alt="Screen Shot 2019-08-21 at 11 41 56 PM" src="https://user-images.githubuse

[2019-08-22 07:01] roryaronson opened #1385 "Fully utilize vertical space on mobile edit sequence and edit regimen pages"
# Expected Behavior
All available vertical space should be used to display the sequence or regimen being edited.

# Actual Behavior
In the sequence editor, there is a bit of light gray unused space, and on both the edit sequence and edit regimen pages, there is a gray bar at the bottom of the screen that goes unused.

![Screenshot_20190821-235322 (1)](https://user-images.githubusercontent.com/5524

[2019-08-22 16:59] AscendFB commented on #1289
This one was burning under my nails ...
Took me 1,5 days to get the VM running again with my device, but now I'm able to check things before publishing. The colors are still not perfect right now, but its much better.
![image](https://user-images.githubusercontent.com/23129562/63534168-d37e6200-c50e-11e9-9a98-a9f24f7f1450.png)

[2019-08-22 17:12] AscendFB commented on #1300
Is this what you had in your mind? 😃

![image](https://user-images.githubusercontent.com/23129562/63534361-4c7db980-c50f-11e9-9783-109bd32c5344.png)
![image](https://user-images.githubusercontent.com/23129562/63534365-4ee01380-c50f-11e9-97cd-039505425e86.png)

Looks like I've messed something up in the commit headline, so it didn't recognize the commit. Here is the link (PR coming soon) https://gi

[2019-08-22 17:18] roryaronson commented on #1300
@AscendFB, yes - that's just what I had in mind! Thank you for the PR 🙏

[2019-08-22 17:44] AscendFB commented on #1302
Got it.
![image](https://user-images.githubusercontent.com/23129562/63536680-5f46bd00-c514-11e9-8b68-acbdb59cb550.png)

[2019-08-23 10:37] AscendFB commented on #1303
Looks like the tooltips are touching the end of the container. I wasn't able to get them in front of the expandable header as they are limited by the container box which ends right before the header.

Maybe it would be best to redesign the tooltips to "popover" signs like the diagnosis button? Looks like a lot of work but this may be also better for longer texts (other languages).  Also this would